<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movieprj.mapper.UserPasswordMapper">

    <resultMap id="userPasswordMap" type="com.movieprj.beans.UserPassword">
        <id property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.movieprj.beans.Role">
            <id property="role_id" column="role_id"/>
            <result property="role_name" column="role_name"/>
            <collection property="permissions" ofType="com.movieprj.beans.Permission">
                <id property="permission_id" column="permission_id"/>
                <result property="permission_name" column="permission_name"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findRolePermissionById" parameterType="Integer" resultType="com.movieprj.beans.Permission">
        SELECT * FROM permission WHERE permission_id IN (
            SELECT permission_id FROM role_permission WHERE role_id = #{rid}
        )
    </select>

    <select id="findRoleById" parameterType="Integer" resultType="com.movieprj.beans.Role" resultMap="findRoleMap">
        SELECT * FROM role WHERE role_id = #{rid}
    </select>

    <resultMap id="findRoleMap" type="com.movieprj.beans.Role">
        <id property="role_id" column="role_id"/>
        <result property="role_name" column="role_name"/>
        <collection property="permissions" ofType="com.movieprj.beans.Permission"  column="role_id" select="com.movieprj.mapper.UserPasswordMapper.findRolePermissionById">
        </collection>
    </resultMap>

    <select id="findUserRoleById" parameterType="Integer" resultType="com.movieprj.beans.Role" resultMap="findRoleMap">
        SELECT * FROM role WHERE role_id IN (
            SELECT role_id FROM user_role WHERE user_id = #{uid}
        )
    </select>

    <select id="findById" parameterType="Integer" resultType="com.movieprj.beans.UserPassword" resultMap="findUserMap">
        SELECT * FROM user_password WHERE user_id = #{uid}
    </select>

    <resultMap id="findUserMap" type="com.movieprj.beans.UserPassword">
        <id property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.movieprj.beans.Role" column="user_id" select="findUserRoleById">
        </collection>
    </resultMap>
</mapper>