<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movieprj.mapper.UserPasswordMapper">

    <resultMap id="userPasswordMap" type="com.movieprj.beans.UserPassword">
        <id property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.movieprj.beans.Role">
            <id property="role_id" column="role_id"/>
            <result property="role_name" column="role_name"/>
            <collection property="permissions" ofType="com.movieprj.beans.Permission">
                <id property="permission_id" column="permission_id"/>
                <result property="permission_name" column="permission_name"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findById" resultMap="userPasswordMap">
        SELECT *
        FROM user_password
        WHERE user_id = #{id}
    </select>
</mapper>