<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>排片管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="images/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/css/admincss/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admincss/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admincss/app.css}">
    <link rel="stylesheet" th:href="@{/css/admincss/jquery.datetimepicker.css}">
    <script th:src="@{js/adminjs/jquery.min.js}"></script>
    <script th:src="@{js/adminjs/jquery.datetimepicker.js}"></script>

    <script>
        function delInit() {
            $('#schedule-list').find('.tpl-table-black-operation-del').
            on('click', function() {
                $('#delete-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        var $link = $(this.relatedTarget).parent('div');
                        var msg = $link.length ? '你要删除的电影ID 为 ' + $link.data('id') : "删除成功!";
                        var schedule_ids = new Array();
                        schedule_ids[0] = $link.data('id');
                        console.log(schedule_ids);
                        $.ajax({
                            url: "/deleteSchedules",
                            data: JSON.stringify({schedule_ids: schedule_ids}),
                            type: "post",
                            async: false,
                            // 定义发送请求的数据格式为JSON字符串
                            contentType: "application/json;charset=UTF-8",
                            //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                            dataType: "json",
                            //成功响应的结果
                            success: function (data) {
                                if (data.check !=null) {
                                    alert("删除成功！")
                                    window.location.reload();
                                }
                            }
                        })
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        function editInit() {
            $('#doc-ipt-text-6').datetimepicker();
            $('#doc-ipt-text-7').datetimepicker();
            $('#schedule-list').find('a.tpl-table-black-operation').
            on('click', function() {
                var id = $(this).parent().data('id');
                getEditShowTypes();
                editBind(id);
                $('#edit-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                         if(check1()){
                             $("#scheduleForm").submit();
                         }

                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        function editBind(movie_schedule_id){
            var id;
            $.ajax({
                url: "/findSchedule?movie_schedule_id="+movie_schedule_id,
                data: {id:id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var movieSchedule = data.movieSchedule;
                    document.getElementById("doc-ipt-text-1").value = movieSchedule.movie_schedule_id;
                    document.getElementById("doc-ipt-text-2").value = movieSchedule.cinema.cinema_name;
                    document.getElementById("cid").value = movieSchedule.cinema_id;
                    document.getElementById("doc-ipt-text-3").value = movieSchedule.hall.hall_name;
                    document.getElementById("hid").value = movieSchedule.hall_id;
                    document.getElementById("doc-ipt-text-4").value = movieSchedule.movie.movie_name;
                    document.getElementById("mid").value = movieSchedule.movie_id;
                    document.getElementById("doc-ipt-text-5").value = movieSchedule.price;
                    document.getElementById("doc-ipt-text-6").value = movieSchedule.start_sell;
                    document.getElementById("doc-ipt-text-7").value = movieSchedule.end_sell;
                    document.getElementById("editType").value = movieSchedule.show_type;
                }
            })

        }
        function addInit() {
            $('#add_start_sell').datetimepicker();
            $('#add_end_sell').datetimepicker();
            $('#setlist').find('.am-btn-success').
            on('click', function() {
                getShowTypes();
                getCinema();
                getOnshowMovies();
                $('#cinemaSelect').change(function () {
                    getHall();
                });
                $('#add-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        if(check()) {
                            $("#scheduleAddForm").submit();
                        }
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        /*function searchAddInit() {
            $('#setlist').find('.am-btn-secondary').
            on('click', function() {
                var cinema_id = document.getElementById("select-cinema").value;
                var cinema_name =  document.getElementById("select-cinema").innerHTML;
                var hall_id = document.getElementById("select-hall").value;
                var hall_name =  document.getElementById("select-hall").innerHTML;
                if(cinema_id!="cinemanone"){
                    var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影院</label>';
                    m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectCinema" id="cinemaSelect" readonly="true">' ;
                    m+='<option value="'+cinema_id+'">'+cinema_name+'</option>';
                    m+='</select>';
                    document.getElementById("selectCinema").innerHTML = "";
                    document.getElementById("selectCinema").innerHTML = m;
                }else {
                    return false;
                }
                if(hall_id!="hallnone"){
                    var html='<option value="'+hall_id+'">'+hall_name+'</option>' ;
                    document.getElementById("hallSelect").innerHTML = "";
                    document.getElementById("hallSelect").innerHTML = html;
                }else{
                    getHall();
                }
                getShowTypes();
                getOnshowMovies();

                $('#add-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        if(check()) {
                            $("#scheduleAddForm").submit();
                        }
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }*/

    </script>
    <script>

        function getAll(page) {
            var id;
            var perpage=5; //一页显示多少条记录
            $.ajax({
                url: "/getAllSchedules",
                data:{id:id},
                type: "post",
                async:false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var schedulesTotalNum = data.schedulesList.length; //评论记录的总条数
                    var pageNum = Math.ceil(schedulesTotalNum/perpage); //分页的总页数
                    var schedulesList = data.schedulesList;
                    console.log(schedulesList);
                    var m='<div class="am-u-sm-12" >' +
                        '<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">' +
                        '<thead>' +
                        '<tr>' +
                        '<th>排期ID</th>' +
                        '<th>影院名称</th>' +
                        '<th>影厅名称</th>' +
                        '<th>电影封面</th>' +
                        '<th>电影名称</th>' +
                        '<th>版本</th>' +
                        '<th>参考价</th>' +
                        '<th>开始时间</th>' +
                        '<th>结束时间</th>' +
                        '<th>操作</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody id="schedule-list">';
                    for(var i=((page-1)*perpage);i<(page*perpage)&&i<schedulesTotalNum;i++){
                        m+=' <tr class="gradeX">' +
                            '<td class="am-text-middle">'+schedulesList[i].movie_schedule_id+'</td>' +
                            '<td class="am-text-middle">'+schedulesList[i].cinema.cinema_name+'</td>' +
                            '<td class="am-text-middle">'+schedulesList[i].hall.hall_name+'</td>'+
                        '<td>' +'<img src="'+schedulesList[i].movie.cover+'" class="tpl-table-line-img" >' +  '</td>';
                        m+= '<td class="am-text-middle">'+schedulesList[i].movie.movie_name+'</td>' +
                            '<td class="am-text-middle">'+schedulesList[i].show_type+'</td>' +
                            '<td class="am-text-middle">'+schedulesList[i].price+'</td>' +
                            '<td class="am-text-middle">'+schedulesList[i].start_sell+'</td>' ;
                        m+='<td class="am-text-middle">'+schedulesList[i].end_sell+'</td>' +
                            '<td class="am-text-middle">' +
                            '<div class="tpl-table-black-operation" data-id="'+schedulesList[i].movie_schedule_id+'">' +
                            '<a href="javascript:;" class="tpl-table-black-operation">' +
                            '<i class="am-icon-pencil"></i> 编辑' +
                            '</a>' +
                            '<a href="javascript:;" class="tpl-table-black-operation-del">' +
                            '<i class="am-icon-trash"></i> 删除' +
                            '</a>' +
                            '</div>' +
                            '</td>' +
                            '</tr>';
                    }
                    m+='</tbody>' +
                        '</table>' +
                        '</div>' +
                        '<div class="am-u-lg-12 am-cf">';
                    m += '<div class="am-cf">' +
                        '共'+schedulesTotalNum+'条记录 /'+pageNum+'页' +
                        '<div class="am-fr">' +
                        '<ul class="am-pagination" id="page">';
                    //判断前面是否还有页面
                    if(page == 1){
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >«</a></li>';
                    }else{
                        m += '<li><a href="javascript:Initial('+(page-1)+')" rel="external nofollow" >«</a></li>';
                    }
                    for(var i=1;i<=pageNum;i++){
                        if(i == page){
                            m += '<li class="am-active"><a href="javascript:Initial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                        }else{
                            m += '<li><a href="javascript:Initial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                        }
                    }
                    //判断后面是否还有页面
                    if(page == pageNum){
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >»</a></li>';
                    }else{
                        m += '<li><a href="javascript:Initial('+(page+1)+')" rel="external nofollow" >»</a></li>';
                    }
                    m += '</ul>' +
                        '</div>' +
                        '</div><hr>'
                    ;
                    $('#AllSchedules').empty();
                    $('#AllSchedules').append(m);



                }});

        }
    </script>
    <script>
        function getShowTypes() { //add时用
            var id;
            $.ajax({
                url: "/getShowType",
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var showTypesList = data.showTypesList;
                    var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片版本</label>';
                    m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectType" id="typeSelect">' ;
                    m+='<option value="none">--请选择--'+'</option>';
                    for(var i=0;i<showTypesList.length;i++){
                        m+='<option value="'+showTypesList[i].show_type+'">'+showTypesList[i].show_type+'</option>' ;
                    }
                    m+='</select>';
                    document.getElementById("selectTypes").innerHTML = m;


                }
            })
        }
        function getOnshowMovies() { //add时用
            var id;
            $.ajax({
                url: "/onshowMovies",
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var moviesList = data.moviesList;
                    var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片</label>';
                    m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectMovie" id="movieSelect">' ;
                    m+='<option value="none">--请选择--'+'</option>';
                    for(var i=0;i<moviesList.length;i++){
                        m+='<option value="'+moviesList[i].movie_id+'">'+moviesList[i].movie_name+'</option>' ;
                    }
                    m+='</select>';
                    document.getElementById("selectMovie").innerHTML = m;


                }
            })
        }
        function getCinema() { //add时用
            var id;
            $.ajax({
                url: "/getCinema",
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var cinemaList = data.cinemaList;
                    var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影院</label>';
                    m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectCinema" id="cinemaSelect" >' ;
                    m+='<option value="none">--请选择--'+'</option>';
                    for(var i=0;i<cinemaList.length;i++){
                        m+='<option value="'+cinemaList[i].cinema_id+'">'+cinemaList[i].cinema_name+'</option>' ;
                    }
                    m+='</select>';
                    document.getElementById("selectCinema").innerHTML = m;


                }
            })
        }
        function getHall() { //add时用
            var cinema_id = document.getElementById("cinemaSelect").value;
            console.log(cinema_id);
            var id;
            $.ajax({
                url: "/findHallByCinema?cinema_id="+cinema_id,
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var hallList = data.hallList;
                    console.log(hallList);
                    var m='';
                   /* var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影厅</label>';
                    m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectHall" id="hallSelect">' ;
                    m+='<option value="none">--请选择--'+'</option>';*/
                    for(var i=0;i<hallList.length;i++){
                        m+='<option value="'+hallList[i].hall_id+'">'+hallList[i].hall_name+'</option>' ;
                    }
                    /*m+='</select>';*/
                    document.getElementById("hallSelect").innerHTML = m;


                }
            })
        }
        function getEditShowTypes() {
            var id;
            $.ajax({
                url: "/getShowType",
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var showTypesList = data.showTypesList;
                    var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片版本</label>';
                        m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectType" id="editType">' ;
                        m+='<option value="none" id="show-Type">'+''+'</option>';
                        for(var i=0;i<showTypesList.length;i++) {
                            m += '<option value="' + showTypesList[i].show_type + '">' + showTypesList[i].show_type + '</option>';
                        }
                        m+='</select>';
                    document.getElementById("selectTypesEdit").innerHTML = m;


                }
            })
        }
        function selectCinema() { //add时用
            var id;
            $.ajax({
                url: "/getCinema",
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var cinemaList = data.cinemaList;
                    var m='<option value="cinemanone">选择电影院</option>';
                      for(var i=0;i<cinemaList.length;i++){
                          m+='<option id="cinema_'+cinemaList[i].cinema_id+'" value="'+cinemaList[i].cinema_id+'">'+cinemaList[i].cinema_name+'</option>'
                      }
                    document.getElementById("select-cinema").innerHTML = m;
                    $('#select-cinema').change(function () {
                        selectHall();
                    });

                }
            })
        }
        function selectHall() { //add时用
            var cinema_id = document.getElementById("select-cinema").value;
            if(cinema_id=="cinemanone"){
                document.getElementById("select-hall").innerHTML = "";
                document.getElementById("select-hall").innerHTML = "<option value=\"hallnone\">选择影厅</option>";
            return false;}
            console.log(cinema_id);
            var id;
            $.ajax({
                url: "/findHallByCinema?cinema_id="+cinema_id,
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var hallList = data.hallList;
                    console.log(hallList);
                    var m='';
                    //var m='<option value="hallnone">选择影厅</option>';
                    for(var i=0;i<hallList.length;i++){
                        m+='<option value="'+hallList[i].hall_id+'">'+hallList[i].hall_name+'</option>' ;
                    }
                    document.getElementById("select-hall").innerHTML = m;


                }
            })
        }
    </script>
    <script>
        function Initial(page){
            getAll(page);
            delInit();
            editInit();
            selectCinema();
        }
        function searchInitial(page){
            search(page);
            delInit();
            editInit();
        }
        $(function () {
            Initial(1);
            addInit();
        });
    </script>

</head>

<body data-type="widgets">
<script th:src="@{js/adminjs/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="images/i/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
                    </li>

                    <!-- 新邮件 -->
                    <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-envelope"></i>
                            <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                        </a>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="assets/img/user04.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        3小时前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-success"></i>
                                            <span>夕风色</span>
                                        </div>
                                        <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </div>
                                        <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                    </div>
                                </a>
                            </li>

                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="assets/img/user02.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        5天前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-warning"></i>
                                            <span>禁言小张</span>
                                        </div>
                                        <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </div>
                                        <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <i class="am-icon-circle-o"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 新提示 -->
                    <li class="am-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-bell"></i>
                            <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                        </a>

                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-line-chart"></i>
                                        <span> 有6笔新的销售订单</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        12分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-star"></i>
                                        <span> 有3个来自人事部的消息</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        30分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-folder-o"></i>
                                        <span> 上午开会记录存档</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        1天前
                                    </div>
                                </a>
                            </li>


                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <i class="am-icon-bell"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="assets/img/user04.png" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>


        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
            <li class="sidebar-nav-link">
                <a href="index.html">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="tables.html">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 表格
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="calendar.html">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 日历
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="form.html">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单

                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="chart.html">
                    <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

                </a>
            </li>

            <li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title active">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    <li class="sidebar-nav-link">
                        <a href="table-list.html">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文字列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="table-list-img.html" class="sub-active">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 图文列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="sign-up.html">
                    <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                    <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="login.html">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="404.html">
                    <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                </a>
            </li>

        </ul>
    </div>



    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">排片列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs" id="setlist">
                                            <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select id="select-time" data-am-selected="{btnSize: 'sm'}">
                                        <option value="datenone">上映日期范围</option>
                                        <option value="week">近七天</option>
                                        <option value="month">近一个月</option>
                                    </select>
                                    <select id="select-cinema" data-am-selected="{btnSize: 'sm'}">

                                    </select>
                                    <select id="select-hall" data-am-selected="{btnSize: 'sm'}">
                                        <option value="hallnone">选择影厅</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" id="search_content" name="search_content" class="am-form-field " placeholder="请输入电影名字进行搜索">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button" onclick="searchInitial(1)"></button>
          </span>
                                </div>
                            </div>
                            <div id="AllSchedules">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="delete-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">操作提示</div>
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="edit-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">编辑</div>
        <div class="am-modal-bd" id="form-init">
            <form id="scheduleForm" class="am-form am-text-sm" action="/updateSchedule" method="post" >
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">排片id</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-1" name="movie_schedule_id"  readonly="true">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">影院id</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-2"  placeholder="输入影院id" readonly="true">
                        <input type="hidden" name="cinema_id" id="cid" value="">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">影厅id</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-3"  placeholder="输入影厅id" readonly="true">
                        <input type="hidden" name="hall_id" id="hid" value="">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-2">影片名称</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-4" name="movie_name"  readonly="true">
                        <input type="hidden" name="movie_id" id="mid" value="">
                    </div>
                </div>
                <div class="am-form-group tpl-table-list-select">
                    <div class="am-g" id="selectTypesEdit">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-4">价格</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-5" name="price" placeholder="输入价格">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-5">开始时间</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-6" name="start_sell" placeholder="输入开始时间">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-6">结束时间</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-7" name="end_sell" placeholder="输入结束时间">
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消修改</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交修改</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="add-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加</div>
        <div class="am-modal-bd">
            <form id="scheduleAddForm" class="am-form am-text-sm" action="/addSchedule" method="post" >
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">排片id</label>
                        <input class="am-u-md-10 form-control" id="add_schedule_id" name="movie_schedule_id" placeholder="输入排片id">
                    </div>
                </div>
                <div class="am-form-group tpl-table-list-select">
                    <div class="am-g" id="selectCinema">
                    </div>
                </div>
                <div class="am-form-group tpl-table-list-select">
                    <div class="am-g" id="selectHall">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影厅</label>
                        <select data-am-selected="{btnSize: 'sm'}" name="selectHall" id="hallSelect">

                        </select>
                    </div>
                </div>
                <div class="am-form-group tpl-table-list-select">
                    <div class="am-g" id="selectMovie">
                    </div>
                </div>
                <div class="am-form-group tpl-table-list-select">
                    <div class="am-g" id="selectTypes">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >价格</label>
                        <input class="am-u-md-10 form-control" id="add_price" name="price" placeholder="输入价格">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >开始时间</label>
                        <input class="am-u-md-10 form-control" id="add_start_sell" name="start_sell" placeholder="输入开始时间">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >结束时间</label>
                        <input class="am-u-md-10 form-control" id="add_end_sell" name="end_sell" placeholder="输入结束时间">
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<script>
    function check() {
        var schedule_id = document.getElementById("add_schedule_id").value;
        var cinema_id = document.getElementById("cinemaSelect").value;
        var hall_id = document.getElementById("hallSelect").value;
        var movie = document.getElementById("movieSelect").value;
        var show_type = document.getElementById("typeSelect").value;
        var price = document.getElementById("add_price").value;
        var start_sell = document.getElementById("add_start_sell").value;
        var end_sell = document.getElementById("add_end_sell").value;
        if (schedule_id == "") {
            alert("请填写排片id");
            return false;
        }
        if (movie == "none") {
            alert("请选择影片");
            return false;
        }
        if (cinema_id=="none") {
            alert("请选择影院");
            return false;
        }
        if (hall_id=="none") {
            alert("请选择影厅");
            return false;
        }
        if (show_type=="none") {
            alert("请选择影片版本");
            return false;
        }
        if (price == "") {
            alert("请填写价格");
            return false;
        }
        if (start_sell == "") {
            alert("请填写开始时间");
            return false;
        }
        if (end_sell == "") {
            alert("请填写结束时间");
            return false;
        }
        return true;
    }
    function check1() {
        var schedule_id = document.getElementById("doc-ipt-text-1").value;
        var cinema_id = document.getElementById("doc-ipt-text-2").value;
        var hall_id = document.getElementById("doc-ipt-text-3").value;
        var movie = document.getElementById("doc-ipt-text-4").value;
        var price = document.getElementById("doc-ipt-text-5").value;
        var show_type = document.getElementById("editType").value;
        var start_sell = document.getElementById("doc-ipt-text-6").value;
        var end_sell = document.getElementById("doc-ipt-text-7").value;
        if (schedule_id == "") {
            alert("请填写排片id");
            return false;
        }
        if (movie == "") {
            alert("请选择影片");
            return false;
        }
        if (show_type=="none") {
            alert("请选择影片版本");
            return false;
        }
        if (cinema_id=="none") {
            alert("请选择影院");
            return false;
        }
        if (hall_id=="none") {
            alert("请选择影厅");
            return false;
        }
        if (price == "") {
            alert("请填写价格");
            return false;
        }
        if (start_sell == "") {
            alert("请填写开始时间");
            return false;
        }
        if (end_sell == "") {
            alert("请填写结束时间");
            return false;
        }
        return true;
    }
</script>
<script>
    function  search(page) {
        var id;
        var perpage=5;
        var search_content = $("#search_content").val();
        var search_date = $("#select-time").val();
        var search_cinema = $("#select-cinema").val();
        var search_hall = $("#select-hall").val();
        $.ajax({
            url: "/searchSchedules",
            data:JSON.stringify({search_content:search_content,search_date:search_date,search_cinema:search_cinema,search_hall:search_hall}),
            type: "post",
            async:false,
            // 定义发送请求的数据格式为JSON字符串
            contentType: "application/json;charset=UTF-8",
            //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
            dataType: "json",
            //成功响应的结果
            success: function (data) {
                console.log(data);
                var schedulesList = new Array() ;
                var schedulesTotalNum = 0;
                for(var key in data){  //拼接返回的多个List方便分页显示
                    var List = data[key];
                    console.log(List);
                    for(var n=0; n<List.length; n++){
                        schedulesList.push(List[n]);
                    }
                }
                schedulesTotalNum = schedulesList.length;
                var pageNum = Math.ceil(schedulesTotalNum/perpage);
                var m='<div class="am-u-sm-12" >' +
                    '<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>排期ID</th>' +
                    '<th>影院名称</th>' +
                    '<th>影厅名称</th>' +
                    '<th>电影封面</th>' +
                    '<th>电影名称</th>' +
                    '<th>版本</th>' +
                    '<th>参考价</th>' +
                    '<th>开始时间</th>' +
                    '<th>结束时间</th>' +
                    '<th>操作</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody id="schedule-list">';
                for(var i=((page-1)*perpage);i<(page*perpage)&&i<schedulesTotalNum;i++){
                    m+=' <tr class="gradeX">' +
                        '<td class="am-text-middle">'+schedulesList[i].movie_schedule_id+'</td>' +
                        '<td class="am-text-middle">'+schedulesList[i].cinema.cinema_name+'</td>' +
                        '<td class="am-text-middle">'+schedulesList[i].hall.hall_name+'</td>'+
                        '<td>' +'<img src="'+schedulesList[i].movie.cover+'" class="tpl-table-line-img" >' +  '</td>';
                    m+= '<td class="am-text-middle">'+schedulesList[i].movie.movie_name+'</td>' +
                        '<td class="am-text-middle">'+schedulesList[i].show_type+'</td>' +
                        '<td class="am-text-middle">'+schedulesList[i].price+'</td>' +
                        '<td class="am-text-middle">'+schedulesList[i].start_sell+'</td>' ;
                    m+='<td class="am-text-middle">'+schedulesList[i].end_sell+'</td>' +
                        '<td class="am-text-middle">' +
                        '<div class="tpl-table-black-operation" data-id="'+schedulesList[i].movie_schedule_id+'">' +
                        '<a href="javascript:;" class="tpl-table-black-operation">' +
                        '<i class="am-icon-pencil"></i> 编辑' +
                        '</a>' +
                        '<a href="javascript:;" class="tpl-table-black-operation-del">' +
                        '<i class="am-icon-trash"></i> 删除' +
                        '</a>' +
                        '</div>' +
                        '</td>' +
                        '</tr>';
                }
                m+='</tbody>' +
                    '</table>' +
                    '</div>' +
                    '<div class="am-u-lg-12 am-cf">';
                m += '<div class="am-cf">' +
                    '共'+schedulesTotalNum+'条记录 /'+pageNum+'页' +
                    '<div class="am-fr">' +
                    '<ul class="am-pagination" id="page">';
                //判断前面是否还有页面
                if(page == 1){
                    m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >«</a></li>';
                }else{
                    m += '<li><a href="javascript:searchInitial('+(page-1)+')" rel="external nofollow" >«</a></li>';
                }
                for(var i=1;i<=pageNum;i++){
                    if(i == page){
                        m += '<li class="am-active"><a href="javascript:searchInitial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                    }else{
                        m += '<li><a href="javascript:searchInitial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                    }
                }
                //判断后面是否还有页面
                if(page == pageNum){
                    m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >»</a></li>';
                }else{
                    m += '<li><a href="javascript:searchInitial('+(page+1)+')" rel="external nofollow" >»</a></li>';
                }
                m += '</ul>' +
                    '</div>' +
                    '</div><hr>'
                ;
                $('#AllSchedules').empty();
                $('#AllSchedules').append(m);
            }});
    }
</script>
<script th:src="@{js/adminjs/amazeui.min.js}"></script>
<script th:src="@{js/adminjs/amazeui.datatables.min.js}"></script>
<script th:src="@{js/adminjs/dataTables.responsive.min.js}"></script>
<script th:src="@{js/adminjs/app.js}"></script>
</body>

</html>