<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="images/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/css/admincss/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admincss/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admincss/app.css}">
    <script th:src="@{js/adminjs/jquery.min.js}"></script>
    <link th:href="@{/css/style2.1.css}" rel="stylesheet" type="text/css" media="all" />
    <script th:src="@{js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{js/jquery.seat-charts.js}"></script>
    <script>
        var Hall = {
            getInfo: function (hall_id) {
                //url:表示后台的url，就是 RequestMapping配置的内容
                // type：http请求的类型
                var id;
                var hall;
                $.ajax({
                    url: "/getHall?hall_id="+hall_id,
                    data:{id:id},
                    type: "post",
                    async:false,
                    // 定义发送请求的数据格式为JSON字符串
                    contentType: "application/json;charset=UTF-8",
                    //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                    dataType: "json",
                    //成功响应的结果
                    success: function (data) {
                        hall = data.hall;
                    }});
                return hall;
            }
        };
    </script>
    <script>
        function delInit() {
            $('#hall-list').find('.tpl-table-black-operation-del').
            on('click', function() {
                $('#delete-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        var $link = $(this.relatedTarget).parent('div');
                        var hall_ids = new Array();
                        hall_ids[0] = $link.data('id');
                        console.log(hall_ids);
                        $.ajax({
                            url: "/deleteHall",
                            data: JSON.stringify({hall_ids: hall_ids}),
                            type: "post",
                            async: false,
                            // 定义发送请求的数据格式为JSON字符串
                            contentType: "application/json;charset=UTF-8",
                            //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                            dataType: "json",
                            //成功响应的结果
                            success: function (data) {
                                if (data.check !=null) {
                                    alert("删除成功！")
                                    window.location.reload();
                                }
                            }
                        })
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        function editInit() {
            $('#hall-list').find('a.tpl-table-black-operation').
            on('click', function() {
                var id = $(this).parent().data('id');
                editBind(id);
                $('#edit-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        var $link = $(this.relatedTarget).parent('div');
                        var hall_ids = new Array();
                        hall_ids[0] = $link.data('id');
                        console.log($link.data('id'));
                        $("#hallForm").submit();
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        function editBind(hall_id){
            var id;
            $.ajax({
                url: "/findHall?hall_id="+hall_id,
                data: {id:id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var hall = data.hall;
                    document.getElementById("doc-ipt-text-1").value = hall.hall_id;
                    document.getElementById("doc-ipt-text-2").value = hall.cinema_id;
                    document.getElementById("doc-ipt-text-3").value = hall.hall_name;
                    document.getElementById("doc-ipt-text-4").value = hall.number_of_seats;
                    document.getElementById("doc-ta-1").value = hall.seat_map;
                }
            })

        }
        function addInit() {
            $('#setlist').find('.am-btn-success').
            on('click', function() {
                $('#add-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        $("#hallAddForm").submit();
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        function seatInit(){
            $('#hall-list').find('.am-btn').
            on('click', function() {
                var id =  $('#hall-list').find('div.tpl-table-black-operation').data('id');
                var hall = Hall.getInfo(id);
                seats(hall);
                $('#seat-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
    </script>
    <script>

        function getAll(page) {
            //url:表示后台的url，就是 RequestMapping配置的内容
            // type：http请求的类型
            var id;
            var perpage=5; //一页显示多少条记录
            $.ajax({
                url: "/getAllHall",
                data:{id:id},
                type: "post",
                async:false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var hallsTotalNum = data.hallList.length; //评论记录的总条数
                    var pageNum = Math.ceil(hallsTotalNum/perpage); //分页的总页数
                    var hallList = data.hallList;
                    console.log(data.hallList);
                    var m='<div class="am-u-sm-12">' +
                        '<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">' +
                        '<thead>' +
                        '<tr>' +
                        '<th>影厅ID</th>' +
                        '<th>所属影城ID</th>' +
                        '<th>影厅名称</th>' +
                        '<th>影厅座位数</th>' +
                        '<th>座位图</th>' +
                        '<th>操作</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody id="hall-list">';
                    for(var i=((page-1)*perpage);i<(page*perpage)&&i<hallsTotalNum;i++){
                        var str = hallList[i].seat_map;
                        var seat_map = (str || "").split(",");
                        var seat='';
                        for(var x=0;x<seat_map.length;x++){
                            seat+=seat_map[x]+'<br>';
                        }
                        m+=' <tr class="gradeX">' +
                            '<td class="am-text-middle">'+hallList[i].hall_id+'</td>' +
                            '<td class="am-text-middle">'+hallList[i].cinema_id+'</td>' +
                            '<td class="am-text-middle">'+hallList[i].hall_name+'</td>' +
                            '<td class="am-text-middle">'+hallList[i].number_of_seats+'</td>' +
                            '<td class="am-text-middle"><button class="am-btn am-btn-sm">查看</button></td>' +
                            '<td class="am-text-middle">' +
                            '<div class="tpl-table-black-operation" data-id="'+hallList[i].hall_id+'">' +
                            '<a href="javascript:;" class="tpl-table-black-operation">' +
                            '<i class="am-icon-pencil"></i> 编辑' +
                            '</a>' +
                            '<a href="javascript:;" class="tpl-table-black-operation-del">' +
                            '<i class="am-icon-trash"></i> 删除' +
                            '</a>' +
                            '</div>' +
                            '</td>' +
                            '</tr>';
                    }
                    m+='</tbody>' +
                        '</table>' +
                        '</div>' +
                        '<div class="am-u-lg-12 am-cf">';
                    m += '<div class="am-cf">' +
                        '共'+hallsTotalNum+'条记录 /'+pageNum+'页' +
                        '<div class="am-fr">' +
                        '<ul class="am-pagination" id="page">';
                    //判断前面是否还有页面
                    if(page == 1){
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >«</a></li>';
                    }else{
                        m += '<li><a href="javascript:Initial('+(page-1)+')" rel="external nofollow" >«</a></li>';
                    }
                    for(var i=1;i<=pageNum;i++){
                        if(i == page){
                            m += '<li class="am-active"><a href="javascript:showPage('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                        }else{
                            m += '<li><a href="javascript:Initial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                        }
                    }
                    //判断后面是否还有页面
                    if(page == pageNum){
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >»</a></li>';
                    }else{
                        m += '<li><a href="javascript:Initial('+(page+1)+')" rel="external nofollow" >»</a></li>';
                    }
                    m += '</ul>' +
                        '</div>' +
                        '</div><hr>'
                    ;
                    $('#AllHall').empty();
                    $('#AllHall').append(m);



                }});

        }
    </script>
    <script>
        var hall;
        function Initial(page){
            getAll(page);
            delInit();
            editInit();
            addInit();
            seatInit();
        }
        function seats(hall) {
            var i = 0;
            var seats_id = new Array();
            var str = hall.seat_map;
            var seat_map = (str || "").split(",");
            var $cart = $('#selected-seats'), //Sitting Area
                $counter = $('#counter'), //Votes
                $total = $('#total'); //Total money

            var sc = $('#seat-map').seatCharts({
                map:seat_map,
         /*       naming : {
                    top : false,
                    getLabel : function (character, row, column) {
                        return column;
                    }
                },
                legend : { //Definition legend
                    node : $('#legend'),
                    items : [
                        [ 'a', 'available',   '可选' ],
                        [ 'a', 'unavailable', '已售出'],
                        [ 'a', 'selected', '已选']
                    ]
                },
                click: function () { //Click event
                    if (this.status() == 'available') { //optional seat
                        $('<li>Row'+(this.settings.row+1)+' Seat'+this.settings.label+'</li>')
                            .attr('id', 'cart-item-'+this.settings.id)
                            .data('seatId', this.settings.id)
                            .appendTo($cart);
                        seats_id[i] = this.settings.id;
                        console.log(seats_id);
                        i+=1;
                        $counter.text(sc.find('selected').length+1);
                        $total.text(recalculateTotal(sc)+price);
                        return 'selected';
                    } else if (this.status() == 'selected') { //Checked
                        //Update Number
                        $counter.text(sc.find('selected').length-1);
                        //update totalnum
                        $total.text(recalculateTotal(sc)-price);

                        //Delete reservation
                        $('#cart-item-'+this.settings.id).remove();
                        for(var n=0;n<seats_id.length;n++){
                            if(seats_id[n] == this.settings.id){
                                seats_id.splice(n,1);
                                n--;
                                i--;
                            }
                        }
                        console.log(seats_id);
                        //optional
                        return 'available';
                    } else if (this.status() == 'unavailable') { //sold
                        return 'unavailable';
                    } else {
                        return this.style();
                    }

                }
            });

            return seats_id;*/
            })
        }

        $(function () {
            Initial(1);
        });
    </script>

</head>

<body data-type="widgets">
<script th:src="@{js/adminjs/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="images/i/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
                    </li>

                    <!-- 新邮件 -->
                    <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-envelope"></i>
                            <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                        </a>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="assets/img/user04.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        3小时前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-success"></i>
                                            <span>夕风色</span>
                                        </div>
                                        <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </div>
                                        <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                    </div>
                                </a>
                            </li>

                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="assets/img/user02.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        5天前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-warning"></i>
                                            <span>禁言小张</span>
                                        </div>
                                        <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </div>
                                        <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <i class="am-icon-circle-o"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 新提示 -->
                    <li class="am-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-bell"></i>
                            <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                        </a>

                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-line-chart"></i>
                                        <span> 有6笔新的销售订单</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        12分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-star"></i>
                                        <span> 有3个来自人事部的消息</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        30分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-folder-o"></i>
                                        <span> 上午开会记录存档</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        1天前
                                    </div>
                                </a>
                            </li>


                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <i class="am-icon-bell"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="assets/img/user04.png" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>


        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
            <li class="sidebar-nav-link">
                <a href="index.html">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="tables.html">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 表格
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="calendar.html">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 日历
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="form.html">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单

                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="chart.html">
                    <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

                </a>
            </li>

            <li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title active">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    <li class="sidebar-nav-link">
                        <a href="table-list.html">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文字列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="table-list-img.html" class="sub-active">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 图文列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="sign-up.html">
                    <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                    <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="login.html">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="404.html">
                    <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                </a>
            </li>

        </ul>
    </div>



    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">影院列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs" id="setlist">
                                            <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}">
                                        <option value="option1">所有类别</option>
                                        <option value="option2">IT业界</option>
                                        <option value="option3">数码产品</option>
                                        <option value="option3">笔记本电脑</option>
                                        <option value="option3">平板电脑</option>
                                        <option value="option3">只能手机</option>
                                        <option value="option3">超极本</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field ">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                </div>
                            </div>
                            <div id="AllHall">
                                <!--<div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                        <thead>
                                        <tr>
                                            <th>影院ID</th>
                                            <th>影院名称</th>
                                            <th>影院地址</th>
                                            <th>影院简介</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf" id="fenye">

                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="delete-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">操作提示</div>
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="edit-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">编辑</div>
        <div class="am-modal-bd" id="form-init">
            <form id="hallForm" class="am-form am-text-sm" action="/updateHall" method="post">
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">影厅id</label>
                        <input class="am-u-md-10 form-control"  name="hall_id" id="doc-ipt-text-1" placeholder="输入影厅id">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-2">影城id</label>
                        <input class="am-u-md-10 form-control"  name="cinema_id" id="doc-ipt-text-2" placeholder="输入影城id">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-3">影厅名称</label>
                        <input class="am-u-md-10 form-control"  name="hall_name" id="doc-ipt-text-3" placeholder="输入影厅名称">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-4">影厅座位数</label>
                        <input class="am-u-md-10 form-control"  name="hall_number_of_seats" id="doc-ipt-text-4" placeholder="输入影厅座位数">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ta-1">影厅座位图</label>
                        <textarea class="am-u-md-10 form-control" rows="5" placeholder="输入座位图串（a表示座位，_表示空）" id="doc-ta-1" name="hall_seat_map"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消修改</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交修改</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="add-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加</div>
        <div class="am-modal-bd">
            <form id="hallAddForm" class="am-form am-text-sm" action="/addHall" method="post">
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影厅id</label>
                        <input class="am-u-md-10 form-control"  name="hall_id" placeholder="输入影厅id">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影城id</label>
                        <input class="am-u-md-10 form-control"  name="cinema_id" placeholder="输入影城id">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0">影厅名称</label>
                        <input class="am-u-md-10 form-control"  name="hall_name" placeholder="输入影厅名称">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影厅座位数</label>
                        <input class="am-u-md-10 form-control"  name="hall_number_of_seats" placeholder="输入影厅座位数">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影厅座位图</label>
                        <textarea class="am-u-md-10 form-control" rows="5" placeholder="输入座位图串（a表示座位，_表示空）" name="hall_seat_map"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="seat-confirm">
    <div class="am-modal-dialog" >
        <div class="am-modal-hd">查看</div>
        <div class="am-modal-bd">
            <div class="demo">
                <div id="seat-map">
                    <div class="front">座位图</div>
                </div>
                <!--<div class="booking-details" style="float:inherit;">
                    <ul class="book-left">
                        <li>数量</li>
                        <li>已选 :</li>
                    </ul>
                    <ul class="book-right">
                        <li>: <span id="counter">0</span></li>
                    </ul>
                    <div class="clear"></div>
                    <ul id="selected-seats" class="scrollbar scrollbar1"></ul>


                    <button class="checkout-button">删除选中座位</button>
                    <div id="legend"></div>
                </div>-->
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>
<script th:src="@{js/adminjs/amazeui.min.js}"></script>
<script th:src="@{js/adminjs/amazeui.datatables.min.js}"></script>
<script th:src="@{js/adminjs/dataTables.responsive.min.js}"></script>
<script th:src="@{js/adminjs/app.js}"></script>
</body>

</html>