<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>影片管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="images/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/css/admincss/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admincss/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admincss/app.css}">
    <script th:src="@{js/adminjs/jquery.min.js}"></script>
    <script>
        function delInit() {
            $('#movies-list').find('.tpl-table-black-operation-del').
            on('click', function() {
                $('#delete-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        var $link = $(this.relatedTarget).parent('div');
                        var msg = $link.length ? '你要删除的电影ID 为 ' + $link.data('id') : "删除成功!";
                        var movies_ids = new Array();
                        movies_ids[0] = $link.data('id');
                        console.log(movies_ids);
                        $.ajax({
                            url: "/deleteMovies",
                            data: JSON.stringify({movies_ids: movies_ids}),
                            type: "post",
                            async: false,
                            // 定义发送请求的数据格式为JSON字符串
                            contentType: "application/json;charset=UTF-8",
                            //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                            dataType: "json",
                            //成功响应的结果
                            success: function (data) {
                                if (data.check !=null) {
                                    alert("删除成功！")
                                    window.location.reload();
                                }
                            }
                        })
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        function editInit() {
            $('#movies-list').find('a.tpl-table-black-operation').
            on('click', function() {
                var id = $(this).parent().data('id');
                getEditTypes();
                editBind(id);
                $('#edit-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        var $link = $(this.relatedTarget).parent('div');
                        var movies_ids = new Array();
                        movies_ids[0] = $link.data('id');
                        console.log($link.data('id'));
                        $("#moviesForm").submit();
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }
        function editBind(movie_id){
            var id;
            $.ajax({
                url: "/findMoviesWithType?movie_id="+movie_id,
                data: {id:id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var movies = data.movies;
                    var type_id0 = movies.moviesTypesList[0].movie_type_id;
                    console.log(type_id0);
                    var a = new Array();
                    a = movies.release_date.split("-");
                    var date = new Date(a[0],a[1]-1,a[2]);

                    document.getElementById("doc-ipt-text-1").value = movies.movie_id;
                    document.getElementById("showcover1").src = movies.cover;
                    document.getElementById("doc-ipt-text-2").value = movies.movie_name;
                    document.getElementById("movies-Type0").innerHTML = movies.moviesTypesList[0].type_name;
                    document.getElementById("type_id0").value =''+type_id0;
                    document.getElementById("movies-Type1").innerHTML = movies.moviesTypesList[1].type_name;
                    document.getElementById("type_id1").value = movies.moviesTypesList[1].movie_type_id;
                    document.getElementById("movies-Type2").innerHTML = movies.moviesTypesList[2].type_name;
                    document.getElementById("type_id2").value = movies.moviesTypesList[2].movie_type_id;
                    document.getElementById("doc-ipt-text-4").value = movies.director;
                    document.getElementById("doc-ipt-text-5").value = movies.main_actor;
                    document.getElementById("doc-ipt-text-6").value = movies.rank;
                    $("#doc-ipt-text-7").datepicker("setValue",date);
                    document.getElementById("doc-ipt-text-8").value = movies.onshow;
                    document.getElementById("doc-ta-1").value = movies.intro;
                }
            })

        }
        function addInit() {
            $('#setlist').find('.am-btn-success').
            on('click', function() {
                getTypes();
                $('#add-confirm').modal({
                    closeViaDimmer:false,
                    relatedTarget: this,
                    onConfirm: function(options) {
                        if(check()) {
                            $("#moviesAddForm").submit();
                        }
                    },
                    // closeOnConfirm: false,
                    onCancel: function() {

                    }
                });
            });
        }

    </script>
    <script>

        function getAll(page) { //day表示选择的日期：0：今天，1：明天，2：后天
            //url:表示后台的url，就是 RequestMapping配置的内容
            // type：http请求的类型
            var id;
            var perpage=5; //一页显示多少条记录
            $.ajax({
                url: "/getAllWithTypes",
                data:{id:id},
                type: "post",
                async:false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var moviesTotalNum = data.moviesList.length; //评论记录的总条数
                    var pageNum = Math.ceil(moviesTotalNum/perpage); //分页的总页数
                    var moviesList = data.moviesList;
                    console.log(moviesList);
                    var m='<div class="am-u-sm-12" >' +
                        '<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">' +
                        '<thead>' +
                        '<tr>' +
                        '<th>影片ID</th>' +
                        '<th>影片封面</th>' +
                        '<th>影片名称</th>' +
                        '<th>类型</th>' +
                        '<th>导演</th>' +
                        '<th>主演</th>' +
                        '<th>评分</th>' +
                        '<th>上映日期</th>' +
                        '<th>正在热映/即将上映</th>' +
                        '<th>评论权限</th>' +
                        '<th>简介</th>' +
                        '<th>操作</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody id="movies-list">';
                    for(var i=((page-1)*perpage);i<(page*perpage)&&i<moviesTotalNum;i++){
                        var moviesTypesList = moviesList[i].moviesTypesList;
                        console.log(moviesTypesList);
                        m+=' <tr class="gradeX">' +
                            '<td class="am-text-middle">'+moviesList[i].movie_id+'</td>' +
                                '<td>' +'<img src="'+moviesList[i].cover+'" class="tpl-table-line-img" >' +  '</td>'+
                            '<td class="am-text-middle">'+moviesList[i].movie_name+'</td>' ;
                        m+='<td class="am-text-middle">';
                            if(moviesTypesList[0]!=null){
                                m+=''+moviesTypesList[0].type_name+'/';
                            }
                        if(moviesTypesList[1]!=null){
                            m+=''+moviesTypesList[1].type_name+'/';
                        }
                        if(moviesTypesList[2]!=null){
                            m+=''+moviesTypesList[2].type_name;
                        }
                            m+='';
                            m+='</td>';
                           m+= '<td class="am-text-middle">'+moviesList[i].director+'</td>' +
                            '<td class="am-text-middle">'+moviesList[i].main_actor+'</td>' +
                            '<td class="am-text-middle">'+moviesList[i].rank+'</td>' +
                            '<td class="am-text-middle">'+moviesList[i].release_date+'</td>' ;
                            m+='<td class="am-text-middle">';
                            if(moviesList[i].onshow == 1){
                                m+='正在热映';
                            }
                            else{
                                m+='即将上映';
                            }
                            m+='</td>' ;
                        m+='<td class="am-text-middle">';
                        if(moviesList[i].comment_permission == 1){
                            m+='允许评论';
                        }
                        else{
                            m+='禁止评论';
                        }
                        m+='</td>' ;
                            m+='<td class="am-text-middle">'+moviesList[i].intro+'</td>' +
                            '<td class="am-text-middle">' +
                            '<div class="tpl-table-black-operation" data-id="'+moviesList[i].movie_id+'">' +
                            '<a href="javascript:;" class="tpl-table-black-operation">' +
                            '<i class="am-icon-pencil"></i> 编辑' +
                            '</a>' +
                            '<a href="javascript:;" class="tpl-table-black-operation-del">' +
                            '<i class="am-icon-trash"></i> 删除' +
                            '</a>' +
                            '</div>' +
                            '</td>' +
                            '</tr>';
                    }
                    m+='</tbody>' +
                        '</table>' +
                        '</div>' +
                        '<div class="am-u-lg-12 am-cf">';
                    m += '<div class="am-cf">' +
                        '共'+moviesTotalNum+'条记录 /'+pageNum+'页' +
                        '<div class="am-fr">' +
                        '<ul class="am-pagination" id="page">';
                    //判断前面是否还有页面
                    if(page == 1){
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >«</a></li>';
                    }else{
                        m += '<li><a href="javascript:Initial('+(page-1)+')" rel="external nofollow" >«</a></li>';
                    }
                    for(var i=1;i<=pageNum;i++){
                        if(i == page){
                            m += '<li class="am-active"><a href="javascript:Initial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                        }else{
                            m += '<li><a href="javascript:Initial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                        }
                    }
                    //判断后面是否还有页面
                    if(page == pageNum){
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >»</a></li>';
                    }else{
                        m += '<li><a href="javascript:Initial('+(page+1)+')" rel="external nofollow" >»</a></li>';
                    }
                    m += '</ul>' +
                        '</div>' +
                        '</div><hr>'
                    ;
                    $('#AllMovies').empty();
                    $('#AllMovies').append(m);



                }});

        }
    </script>
    <script>
        function getTypes() {
            var id;
            $.ajax({
                url: "/getTypes",
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var moviesTypesList = data.moviesTypesList;
                    var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片类型</label>';
                    for(var n=0 ; n<3;n++){
                        m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectType'+n+'">' ;
                        m+='<option value="none">--请选择--'+'</option>';
                        for(var i=0;i<moviesTypesList.length;i++){
                            m+='<option value="'+moviesTypesList[i]+'">'+moviesTypesList[i]+'</option>' ;
                        }
                            m+='</select>';
                    }
                    document.getElementById("selectTypes").innerHTML = m;


                }
            })
        }
        function getEditTypes() {
            var id;
            $.ajax({
                url: "/getTypes",
                data: {id: id},
                type: "post",
                async: false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var moviesTypesList = data.moviesTypesList;
                    var m='<label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片类型</label>';
                    for(var n=0 ; n<3;n++){
                        m+=' <select data-am-selected="{btnSize: \'sm\'}" name="selectType'+n+'">' ;
                        m+='<option value="none" id="movies-Type'+n+'">'+''+'</option>';
                        for(var i=0;i<moviesTypesList.length;i++){
                            m+='<option value="'+moviesTypesList[i]+'">'+moviesTypesList[i]+'</option>' ;
                        }
                        m+='</select>';
                    }
                    m+='<input type="hidden" id="type_id0" name="type_id0" value="">' +
                        '<input type="hidden" id="type_id1" name="type_id1" value="">' +
                        '<input type="hidden" id="type_id2" name="type_id2" value="">';
                    document.getElementById("selectTypesEdit").innerHTML = m;


                }
            })
        }
    </script>
    <script>
        function Initial(page){
            getAll(page);
            delInit();
            editInit();

        }
        function searchInitial(page){
            search(page);
            delInit();
            editInit();
        }
        $(function () {
            Initial(1);
            addInit();
        });
    </script>

</head>

<body data-type="widgets">
<script th:src="@{js/adminjs/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="images/i/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
                    </li>

                    <!-- 新邮件 -->
                    <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-envelope"></i>
                            <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                        </a>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="assets/img/user04.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        3小时前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-success"></i>
                                            <span>夕风色</span>
                                        </div>
                                        <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </div>
                                        <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                    </div>
                                </a>
                            </li>

                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="assets/img/user02.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        5天前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-warning"></i>
                                            <span>禁言小张</span>
                                        </div>
                                        <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </div>
                                        <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <i class="am-icon-circle-o"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 新提示 -->
                    <li class="am-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-bell"></i>
                            <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                        </a>

                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-line-chart"></i>
                                        <span> 有6笔新的销售订单</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        12分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-star"></i>
                                        <span> 有3个来自人事部的消息</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        30分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-folder-o"></i>
                                        <span> 上午开会记录存档</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        1天前
                                    </div>
                                </a>
                            </li>


                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <i class="am-icon-bell"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="assets/img/user04.png" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>


        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
            <li class="sidebar-nav-link">
                <a href="index.html">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="tables.html">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 表格
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="calendar.html">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 日历
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="form.html">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单

                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="chart.html">
                    <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

                </a>
            </li>

            <li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title active">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    <li class="sidebar-nav-link">
                        <a href="table-list.html">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文字列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="table-list-img.html" class="sub-active">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 图文列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="sign-up.html">
                    <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                    <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="login.html">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="404.html">
                    <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                </a>
            </li>

        </ul>
    </div>



    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">影片列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs" id="setlist">
                                            <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select id="select-time" data-am-selected="{btnSize: 'sm'}">
                                        <option value="datenone">上映日期范围</option>
                                        <option value="week">近七天</option>
                                        <option value="month">近一个月</option>
                                    </select>
                                    <select id="select-status" data-am-selected="{btnSize: 'sm'}">
                                        <option value="statusnone">正在上映/即将上映</option>
                                        <option value="onshow">正在上映</option>
                                        <option value="upcoming">即将上映</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" id="search_content" name="search_content" class="am-form-field " placeholder="请输入电影名字进行搜索">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button" onclick="searchInitial(1)"></button>
          </span>
                                </div>
                            </div>
                            <div id="AllMovies">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="delete-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">操作提示</div>
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="edit-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">编辑</div>
        <div class="am-modal-bd" id="form-init">
            <form id="moviesForm" class="am-form am-text-sm" action="/updateMovies" method="post" enctype="multipart/form-data">
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">影片id</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-1" name="movie_id" placeholder="输入影片id">
                    </div>
                </div>
                <div class="am-form-group">
                    <label  class="am-u-md-2 am-md-text-right am-padding-left-0">封面图</label>
                    <div class="am-g">
                        <div class="am-form-group am-form-file">
                            <div class="tpl-form-file-img">
                                <img id="showcover1" src="" alt="">
                            </div>
                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                <i class="am-icon-cloud-upload"></i> 添加封面图片</button>
                            <input id="cover1" type="file" accept="image/*" name="cover1" multiple="multiple">
                        </div>

                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-2">影片名称</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-2" name="movie_name" placeholder="输入影片名称">
                    </div>
                </div>
                <div class="am-form-group tpl-table-list-select">
                    <div class="am-g" id="selectTypesEdit">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-4">导演</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-4" name="director" placeholder="输入导演">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-5">主演</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-5" name="main_actor" placeholder="输入主演">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-6">评分</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-6" name="rank" placeholder="输入评分">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-7">上映日期</label>
                        <!--<input class="am-u-md-10 form-control" id="doc-ipt-text-7" name="release_date" placeholder="输入上映日期">-->
                        <input type="text" class="am-form-field tpl-form-no-bg"  id="doc-ipt-text-7" name="release_date" placeholder="输入上映日期" data-am-datepicker=""  value="">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-8">正在上映/即将上映</label>
                        <input class="am-u-md-10 form-control" id="doc-ipt-text-8" name="onshow" placeholder="正在上映（1）/即将上映（0）">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >评论权限</label>
                        <input class="am-u-md-10 form-control"  name="comment_permission" placeholder="评论权限">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ta-1">简介</label>
                        <textarea class="am-u-md-10 form-control" rows="5" id="doc-ta-1" name="intro"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消修改</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交修改</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="add-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加</div>
        <div class="am-modal-bd">
            <form id="moviesAddForm" class="am-form am-text-sm" action="/addMovies" method="post" enctype="multipart/form-data">
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片id</label>
                        <input class="am-u-md-10 form-control" name="movie_id" id="mid" placeholder="输入影片id">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片名称</label>
                        <input class="am-u-md-10 form-control" name="movie_name" placeholder="输入影片名称">
                    </div>
                </div>
                <div class="am-form-group">
                    <label  class="am-u-md-2 am-md-text-right am-padding-left-0">封面图</label>
                    <div class="am-g">
                        <div class="am-form-group am-form-file">
                            <div class="tpl-form-file-img">
                                <img id="showcover" src="" alt="">
                            </div>
                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                <i class="am-icon-cloud-upload"></i> 添加封面图片</button>
                            <input id="cover" type="file" accept="image/*" name="cover" multiple="multiple">
                        </div>

                    </div>
                </div>
                <!--<div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >影片封面</label>
                        <input class="am-u-md-10 form-control"  name="movie_type" placeholder="输入影片类型">
                    </div>
                </div>-->
                <div class="am-form-group tpl-table-list-select">
                    <div class="am-g" id="selectTypes">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >导演</label>
                        <input class="am-u-md-10 form-control"  name="director" placeholder="输入导演">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >主演</label>
                        <input class="am-u-md-10 form-control" name="main_actor" placeholder="输入主演">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >评分</label>
                        <input class="am-u-md-10 form-control"  name="rank" placeholder="输入评分">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >上映日期</label>
                        <!--<input class="am-u-md-10 form-control"  name="release_date" placeholder="输入上映日期">-->
                        <input type="text" class="am-form-field tpl-form-no-bg"  name="release_date" placeholder="输入上映日期" data-am-datepicker=""  value="">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >正在上映/即将上映</label>
                        <input class="am-u-md-10 form-control"  name="onshow" placeholder="正在上映（1）/即将上映（0）">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >评论权限</label>
                        <input class="am-u-md-10 form-control"   name="comment_permission" placeholder="评论权限">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-g">
                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >简介</label>
                        <textarea class="am-u-md-10 form-control" rows="5"  name="intro"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<script>
    //在input file内容改变的时候触发事件
    $('#cover').change(function(){
        //获取input file的files文件数组;
        //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
        //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
        var file = $('#cover').get(0).files[0];
        //创建用来读取此文件的对象
        var reader = new FileReader();
        //使用该对象读取file文件
        reader.readAsDataURL(file);
        //读取文件成功后执行的方法函数
        reader.onload=function(e){
            //读取成功后返回的一个参数e，整个的一个进度事件
            console.log(e);
            //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
            //的base64编码格式的地址
            $('#showcover').get(0).src = e.target.result;
        }
    })
    $('#cover1').change(function(){
        //获取input file的files文件数组;
        //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
        //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
        var file = $('#cover1').get(0).files[0];
        //创建用来读取此文件的对象
        var reader = new FileReader();
        //使用该对象读取file文件
        reader.readAsDataURL(file);
        //读取文件成功后执行的方法函数
        reader.onload=function(e){
            //读取成功后返回的一个参数e，整个的一个进度事件
            console.log(e);
            //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
            //的base64编码格式的地址
            $('#showcover1').get(0).src = e.target.result;
        }
    })
</script>
<script>
    function check() {
        var movie_id = document.getElementById("mid").value
        var file = document.getElementById("cover").value;
        if (movie_id == "") {
            alert("请填写影片id");
            return false;
        }
        if (file.length == 0 || file == "") {
            alert("请上传封面图片");
            return false;
        }
        return true;
    }
    function check1() {
        var movie_id = document.getElementById("doc-ipt-text-1").value
        var file = document.getElementById("cover").value;
        if (movie_id == "") {
            alert("请填写影片id");
            return false;
        }
        if (file.length == 0 || file == "") {
            alert("请上传封面图片");
            return false;
        }
        return true;
    }
</script>
<script>
    function  search(page) {
        var id;
        var perpage=5;
        var search_content = $("#search_content").val();
        var search_date = $("#select-time").val();
        var search_status = $("#select-status").val();
        $.ajax({
            url: "/searchMovies",
            data:JSON.stringify({search_content:search_content,search_date:search_date,search_status:search_status}),
            type: "post",
            async:false,
            // 定义发送请求的数据格式为JSON字符串
            contentType: "application/json;charset=UTF-8",
            //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
            dataType: "json",
            //成功响应的结果
            success: function (data) {
                console.log(data);
                var moviesList = new Array() ;
                var moviesTotalNum = 0;
                for(var key in data){  //拼接返回的多个HallList方便分页显示
                    var List = data[key];
                    console.log(List);
                    for(var n=0; n<List.length; n++){
                        moviesList.push(List[n]);
                    }
                }
                moviesTotalNum = moviesList.length;
                var pageNum = Math.ceil(moviesTotalNum/perpage);
                var m='<div class="am-u-sm-12" >' +
                    '<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>影片ID</th>' +
                    '<th>影片封面</th>' +
                    '<th>影片名称</th>' +
                    '<th>类型</th>' +
                    '<th>导演</th>' +
                    '<th>主演</th>' +
                    '<th>评分</th>' +
                    '<th>上映日期</th>' +
                    '<th>正在热映/即将上映</th>' +
                    '<th>评论权限</th>' +
                    '<th>简介</th>' +
                    '<th>操作</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody id="movies-list">';
                for(var i=((page-1)*perpage);i<(page*perpage)&&i<moviesTotalNum;i++){
                    var moviesTypesList = moviesList[i].moviesTypesList;
                    console.log(moviesTypesList);
                    m+=' <tr class="gradeX">' +
                        '<td class="am-text-middle">'+moviesList[i].movie_id+'</td>' +
                        '<td>' +'<img src="'+moviesList[i].cover+'" class="tpl-table-line-img" >' +  '</td>'+
                        '<td class="am-text-middle">'+moviesList[i].movie_name+'</td>' ;
                    m+='<td class="am-text-middle">';
                    if(moviesTypesList[0]!=null){
                        m+=''+moviesTypesList[0].type_name+'/';
                    }
                    if(moviesTypesList[1]!=null){
                        m+=''+moviesTypesList[1].type_name+'/';
                    }
                    if(moviesTypesList[2]!=null){
                        m+=''+moviesTypesList[2].type_name;
                    }
                    m+='';
                    m+='</td>';
                    m+= '<td class="am-text-middle">'+moviesList[i].director+'</td>' +
                        '<td class="am-text-middle">'+moviesList[i].main_actor+'</td>' +
                        '<td class="am-text-middle">'+moviesList[i].rank+'</td>' +
                        '<td class="am-text-middle">'+moviesList[i].release_date+'</td>' ;
                    m+='<td class="am-text-middle">';
                    if(moviesList[i].onshow = 1){
                        m+='正在热映';
                    }
                    else{
                        m+='即将上映';
                    }
                    m+='</td>' ;
                    if(moviesList[i].comment_permission == 1){
                        m+='允许评论';
                    }
                    else{
                        m+='禁止评论';
                    }
                    m+='</td>' ;
                    m+='<td class="am-text-middle">'+moviesList[i].intro+'</td>' +
                        '<td class="am-text-middle">' +
                        '<div class="tpl-table-black-operation" data-id="'+moviesList[i].movie_id+'">' +
                        '<a href="javascript:;" class="tpl-table-black-operation">' +
                        '<i class="am-icon-pencil"></i> 编辑' +
                        '</a>' +
                        '<a href="javascript:;" class="tpl-table-black-operation-del">' +
                        '<i class="am-icon-trash"></i> 删除' +
                        '</a>' +
                        '</div>' +
                        '</td>' +
                        '</tr>';
                }
                m+='</tbody>' +
                    '</table>' +
                    '</div>' +
                    '<div class="am-u-lg-12 am-cf">';
                m += '<div class="am-cf">' +
                    '共'+moviesTotalNum+'条记录 /'+pageNum+'页' +
                    '<div class="am-fr">' +
                    '<ul class="am-pagination" id="page">';
                //判断前面是否还有页面
                if(page == 1){
                    m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >«</a></li>';
                }else{
                    m += '<li><a href="javascript:searchInitial('+(page-1)+')" rel="external nofollow" >«</a></li>';
                }
                for(var i=1;i<=pageNum;i++){
                    if(i == page){
                        m += '<li class="am-active"><a href="javascript:searchInitial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                    }else{
                        m += '<li><a href="javascript:searchInitial('+i+')" rel="external nofollow" rel="external nofollow" >'+i+'</a></li>';
                    }
                }
                //判断后面是否还有页面
                if(page == pageNum){
                    m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >»</a></li>';
                }else{
                    m += '<li><a href="javascript:searchInitial('+(page+1)+')" rel="external nofollow" >»</a></li>';
                }
                m += '</ul>' +
                    '</div>' +
                    '</div><hr>'
                ;
                $('#AllMovies').empty();
                $('#AllMovies').append(m);
            }});
    }
</script>
<script th:src="@{js/adminjs/amazeui.min.js}"></script>
<script th:src="@{js/adminjs/amazeui.datatables.min.js}"></script>
<script th:src="@{js/adminjs/dataTables.responsive.min.js}"></script>
<script th:src="@{js/adminjs/app.js}"></script>
</body>

</html>