<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所有文章管理</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/faqstyle.css}" type="text/css" media="all"/>
    <link th:href="@{/css/single.css}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{/css/contactstyle.css}" type="text/css" media="all"/>
    <!-- news-css -->
    <link rel="stylesheet" th:href="@{/css/news-css/news.css}" type="text/css" media="all"/>
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" th:href="@{/css/list-css/list.css}" type="text/css" media="all"/>
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <link type="text/css" th:href="@{/css/bootstrap-table.min.css}">
    <script type="text/javascript" th:src="@{js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap-table-zh-CN.min.js}"></script>
    <script>
        function load_article_data() {
            $("#article-table").bootstrapTable({
                url: '/article_manage/get_all_article_data',
                class: 'table table-bordered table-hover table-striped',
                uniqueId: "article_id",
                striped: true,                      //是否显示行间隔色
                pagination: true,
                sortable: true,                     //是否启用排序
                toolbar: '#toolbar',              //工具按钮用哪个容器
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [15, 30, 50],        //可供选择的每页的行数（*）
                search: true,                      //是否显示表格搜索
                showRefresh: true,
                columns: [{
                    checkbox: true
                }, {
                    field: 'article_id',
                    title: '文章id',
                    sortable: true
                }, {
                    field: 'author_name',
                    title: '作者名',
                    sortable: true
                }, {
                    field: 'headline',
                    title: '标题',
                    sortable: true
                }, {
                    field: 'click_num',
                    title: '点击量',
                    sortable: true
                }, {
                    field: 'release_time',
                    title: '最后修改时间',
                    sortable: true
                }, {
                    field: 'type',
                    title: '文章类型',
                    sortable: true
                }, {
                    field: 'check_status',
                    title: '审核状态',
                    sortable: true
                }, {
                    field: 'operate',
                    title: '操作',
                    formatter: actionFormatter,
                }],
                onClickCell: function (field, value, row, $element) {
                    var chang_disabled = new Array("article_id", "author_name","headline" ,"check_status", "release_time", "operate");
                    var o_value = value;//单元格原值
                    if ($.inArray(field, chang_disabled) >= 0)
                        return;
                    $element.attr('contenteditable', true);
                    $element.unbind('blur').bind('blur', function () {//不这样写的话会触发两次回调
                        let index = $element.parent().data('index');
                        let tdValue = $element.html();
                        if (tdValue != o_value) {
                            saveData(index, field, tdValue);
                            if (!check(row)) {
                                $("#article-table").bootstrapTable("refresh", {//静态刷新表格
                                    silent: true
                                });
                            } else {
                                update_row(row)
                                $("#article-table").bootstrapTable("refresh", {//静态刷新表格
                                    silent: true
                                });
                            }
                        }
                    })
                }
            })
        };

        function actionFormatter(value, row, index) {
            var result = "";
            var article_id = row.article_id;
            result += "<a href='#' onclick=\"goto_view_page('" + article_id + "')\" class='btn btn-xs blue' title='编辑'><span class='glyphicon glyphicon-search'></span></a href=>";
            return result;
        }

        function goto_view_page(article_id) {
            location.replace('\\article_view?article_id=' + article_id);
        }

        function saveData(index, field, value) {//保存到当前页面
            $("#article-table").bootstrapTable('updateCell', {
                index: index,       //行索引
                field: field,       //列名
                value: value        //cell值
            })
        }

        function check(row) {//输入数据检查
            var click_num = row.click_num;
            var type = row.type;
            if (click_num.length * type.length == 0) {
                alert("不能为空值！！")
                return false;
            }
            if (type != "影片看点" && type != "新闻") {
                alert("类型必须为影片看点或新闻！！")
                return false;
            }
            if (!/^[0-9]*$/.test(click_num)) {
                alert("只能输入数字！！")
                return false;
            }
            return true;
        }

        function update_row(row) {//升级数据到服务器
            $.ajax({
                url: "/article/update_row",
                type: "post",
                // data表示发送的数据
                data: JSON.stringify(row),
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为JSON字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    if (data != 0) {
                        alert("数据更新失败！！");
                    }
                }
            });
        }

        $(function () {
            $("#remove").on("click", function () {
                var rows = $("#article-table").bootstrapTable('getSelections'); // 获得要删除的数据
                if (rows.length == 0) { // rows 主要是为了判断是否选中，下面的else内容才是主要
                    alert("请先选择要删除的记录!");
                    return;
                } else {
                    if (!confirm("是否确认删除？"))
                        return;
                    var ids = new Array(); // 声明一个数组
                    $(rows).each(function () { // 通过获得别选中的来进行遍历
                        ids.push(this.article_id); // cid为获得到的整条数据中的一列
                    });
                    $.ajax({
                        url: "/article/del_article",
                        type: "post",
                        // data表示发送的数据
                        data: {"ids": ids},
                        traditional: true,
                        success: function (data) {
                            if (data != 0) {
                                alert("删除失败！！");
                            } else {
                                alert("删除成功！！");
                                $("#article-table").bootstrapTable("refresh", {//静态刷新表格
                                    silent: true
                                });
                            }
                        }
                    });
                }
            })
        })
    </script>
</head>
<body onload="load_article_data()">
<button id="remove">删除</button>
<table id="article-table"></table>
</body>
</html>