<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章查阅</title>
    <script type="text/javascript" th:src="@{js/tinymce/tinymce.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <script>
        var paras = location.search;			//search获得地址中的参数，内容为'?itemId=12'
        var result = paras.match(/[^\?&]*=[^&]*/g); 	//match是字符串中符合的字段一个一个取出来，result中的值为['login=xx','table=admin']
        paras = {};					//让paras变成没有内容的json对象
        for (i in result) {
            var temp = result[i].split('=');	//split()将一个字符串分解成一个数组,两次遍历result中的值分别为['itemId','xx']
            paras[temp[0]] = temp[1];
        }
        var article_id = paras.article_id;
        tinymce.init({
            selector: '#content',
            language: 'zh_CN',
            plugins: ['code', 'image', 'hr', 'lists', 'link', 'preview', 'anchor', 'code', 'table', 'insertdatetime', 'emoticons', 'imagetools'],
            toolbar: false,
            width: 'auto',
            height: 1000
        });

        function load_article() {
            $.get("/article/get_text_by_id?article_id=" + article_id, function (result) {
                tinyMCE.activeEditor.setContent(result)
            })
        }
    </script>
</head>
<body onload="load_article(article_id)">
<form>
    <textarea id="content" name="content"></textarea>
</form>
</body>
</html>