<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>zMovie</title>
    <meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
    <meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" th:href="@{/css/zerogrid.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">


    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5.js}"></script>
    <script th:src="@{js/css3-mediaqueries.js}"></script>
    <![endif]-->

</head>
<body class="hold-transition sidebar-mini">
<div class="wrap-body">
    <header>
        <div th:replace="commons/part::#top"></div>
    </header>

    <!--////////////////////////////////////Container-->
    <section id="container">
        <div class="wrap-container zerogrid">
            <div id="main-content" class="col-2-3">
                <div class="wrap-content">
                    <div class="meun2">
                        <div class="row">
                            <div id="menu">
                                <nav>
                                    <div class="wrap-nav">
                                        <ul>
                                            <li><a th:href="@{/dynamic}" >影片看点</a></li>
                                            <li><a th:href="@{/dynamic}">影院新闻</a></li>
                                            <li><a th:href="@{/dynamic}">最新活动</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div th:replace="commons/part::#sidebar"></div>

        </div>
    </section>

    <div class="wrapper">



    </div>

    <footer>
        <div th:replace="commons/part::#bottom"></div>
    </footer>

</div>

</body>
</html>