<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="images/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="js/adminjs/echarts.min.js"></script>
    <link rel="stylesheet" href="css/admincss/amazeui.min.css"/>
    <link rel="stylesheet" href="css/admincss/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="css/admincss/app.css">
    <script src="js/adminjs/jquery.min.js"></script>
</head>

<body data-type="widgets">
<script src="js/adminjs/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="images/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
                    </li>

                    <!-- 新邮件 -->
                    <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-envelope"></i>
                            <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                        </a>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="images/img/user04.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        3小时前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-success"></i>
                                            <span>夕风色</span>
                                        </div>
                                        <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI
                                            的成长，则离不开用户的支持。
                                        </div>
                                        <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                    </div>
                                </a>
                            </li>

                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="images/img/user02.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        5天前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-warning"></i>
                                            <span>禁言小张</span>
                                        </div>
                                        <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。</div>
                                        <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <i class="am-icon-circle-o"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 新提示 -->
                    <li class="am-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-bell"></i>
                            <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                        </a>

                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-line-chart"></i>
                                        <span> 有6笔新的销售订单</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        12分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-star"></i>
                                        <span> 有3个来自人事部的消息</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        30分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-folder-o"></i>
                                        <span> 上午开会记录存档</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        1天前
                                    </div>
                                </a>
                            </li>


                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <i class="am-icon-bell"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="images/img/user04.png" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
            <li class="sidebar-nav-link">
                <a href="index.html">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="tables.html">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 表格
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="calendar.html">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 日历
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="form.html">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单

                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="chart.html">
                    <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

                </a>
            </li>

            <li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title active">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    <li class="sidebar-nav-link">
                        <a href="table-list.html" class="sub-active">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文字列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="table-list-img.html">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 图文列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="sign-up.html">
                    <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                    <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="login.html">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="404.html">
                    <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                </a>
            </li>

        </ul>
    </div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">


            <div class="row">

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">增加团购</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-line-form">
                                <div class="am-form-group">
                                    <label for="cinema" class="am-u-sm-3 am-form-label">影院</label>
                                    <div class="am-u-sm-9">
                                        <select data-am-selected="{searchBox: 1}" style="display: none;" id="cinema">

                                        </select>
                                    </div>
                                </div>
                                <script>
                                    function load_cinema() {
                                        $.ajax({
                                            url: "/group_buy/get_cinema",
                                            type: "get",
                                            //定义回调响应的数据格式为JSON字符串,该属性可以省略
                                            dataType: "json",
                                            //成功响应的结果
                                            success: function (data) {
                                                $(data).each(function (index, element) {
                                                    var cinema_id = element.cinema_id;
                                                    var cinema_name = element.cinema_name;
                                                    $("#cinema").append("<option value=" + cinema_id + ">" + cinema_name + "</option>\n")
                                                })
                                            }
                                        });
                                    }

                                    load_cinema()
                                </script>
                                <div class="am-form-group">
                                    <label for="start_sell_date" class="am-u-sm-3 am-form-label">团购开售日期</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field tpl-form-no-bg" data-am-datepicker
                                               readonly id="start_sell_date">
                                    </div>
                                    <label for="start_sell_time" class="am-u-sm-3 am-form-label">团购开售时间</label>
                                    <div class="am-u-sm-9">
                                        <input type="time" id="start_sell_time">
                                    </div>
                                    <label for="end_sell_date" class="am-u-sm-3 am-form-label">团购结售日期</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field tpl-form-no-bg" data-am-datepicker
                                               readonly id="end_sell_date">
                                    </div>
                                    <label for="end_sell_time" class="am-u-sm-3 am-form-label">团购结售时间</label>
                                    <div class="am-u-sm-9">
                                        <input type="time" id="end_sell_time">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="start_time_date" class="am-u-sm-3 am-form-label">票开始日期</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field tpl-form-no-bg" data-am-datepicker
                                               readonly id="start_time_date">
                                    </div>
                                    <label for="start_time_time" class="am-u-sm-3 am-form-label">票开始时间</label>
                                    <div class="am-u-sm-9">
                                        <input type="time" id="start_time_time">
                                    </div>

                                    <label for="end_time_date" class="am-u-sm-3 am-form-label">票结束日期</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field tpl-form-no-bg" data-am-datepicker
                                               readonly id="end_time_date">
                                    </div>
                                    <label for="end_time_time" class="am-u-sm-3 am-form-label">票结束时间</label>
                                    <div class="am-u-sm-9">
                                        <input type="time" id="end_time_time">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="max_sales" class="am-u-sm-3 am-form-label">放票数</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="max_sales" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="price" class="am-u-sm-3 am-form-label">价格</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="price" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success "
                                                onclick="submit_data()">
                                            提交
                                        </button>
                                    </div>
                                </div>
                                <script>
                                    function submit_data() {
                                        var start_time_time = $("#start_time_time").val()
                                        var end_time_time = $("#end_time_time").val()
                                        var start_time_date = $("#start_time_date").val()
                                        var end_time_date = $("#end_time_date").val()
                                        var start_sell_time = $("#start_sell_time").val()
                                        var end_sell_time = $("#end_sell_time").val()
                                        var start_sell_date = $("#start_sell_date").val()
                                        var end_sell_date = $("#end_sell_date").val()

                                        var start_time = start_time_date + " " + start_time_time
                                        var end_time = end_time_date + " " + end_time_time
                                        var start_sell = start_sell_date + " " + start_sell_time
                                        var end_sell = end_sell_date + " " + end_sell_time
                                        var now_sales = 0
                                        var max_sales = $("#max_sales").val()
                                        var price = $("#price").val()
                                        var cinema_id = $("#cinema").val()

                                        //转化为整数时间戳，方便后续比较大小
                                        var D_start_time = new Date(start_time.replace(/-/g, '/')).getTime();
                                        var D_end_time = new Date(end_time.replace(/-/g, '/')).getTime();
                                        var D_start_sell = new Date(start_sell.replace(/-/g, '/')).getTime();
                                        var D_end_sell = new Date(end_sell.replace(/-/g, '/')).getTime();
                                        var D = new Date();//当前时间

                                        console.log(D_start_time);

                                        if (!/^[0-9]*$/.test(price) || !/^[0-9]*$/.test(max_sales)) {
                                            alert("存在非法输入")
                                            return;
                                        }
                                        if (start_time_time.length * start_time_date.length *
                                            end_time_time.length * end_sell_date.length *
                                            start_sell_time.length * start_time_date.length *
                                            end_sell_time.length * end_sell_date.length *
                                            price.length * max_sales.length == 0) {
                                            alert("缺少输入项");
                                            return;
                                        }
                                        if (D_end_time < D || D_end_sell < D
                                            || D_start_time < D || D_end_time < D) {
                                            alert("所有日期不能早于当前时间");
                                            return;
                                        }
                                        if (D_start_time >= D_end_time || D_start_sell >= D_end_sell) {
                                            alert("开始时间不能晚于结束时间")
                                            return;
                                        }
                                        if (D_end_sell >= D_start_time) {
                                            alert("结售时间不能晚于票开始时间")
                                            return;
                                        }
                                        data = {
                                            "start_time": start_time,
                                            "end_time": end_time,
                                            "start_sell": start_sell,
                                            "end_sell": end_sell,
                                            "now_sales": now_sales,
                                            "max_sales": max_sales,
                                            "price": price,
                                            "cinema_id": cinema_id
                                        };

                                        $.ajax({
                                            url: "/group_buy/add_group_buy",
                                            type: "post",
                                            // data表示发送的数据
                                            data: JSON.stringify(data),
                                            // 定义发送请求的数据格式为JSON字符串
                                            contentType: "application/json;charset=UTF-8",
                                            //定义回调响应的数据格式为JSON字符串,该属性可以省略
                                            dataType: "json",
                                            //成功响应的结果
                                            success: function (data) {
                                                if (data == 0) {
                                                    alert("数据上传成功！！");
                                                } else {
                                                    alert("数据上传失败！！");
                                                }
                                            }
                                        });
                                    }
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/adminjs/amazeui.min.js"></script>
<script src="js/adminjs/amazeui.datatables.min.js"></script>
<script src="js/adminjs/dataTables.responsive.min.js"></script>
<script src="js/adminjs/app.js"></script>

</body>

</html>