<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <link rel="icon" type="image/png" href="images/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" th:href="@{/css/bootstrap-table.min.css}">
    <script src="js/adminjs/echarts.min.js"></script>
    <link rel="stylesheet" href="css/admincss/amazeui.min.css"/>
    <link rel="stylesheet" href="css/admincss/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="css/admincss/app.css">
    <script src="js/adminjs/jquery.min.js"></script>
    <script>
        function load_group_buy_data_now() {//请求当期团购数据,并动态创建页面对象。
            $("#group-buy-table").bootstrapTable({
                url: '/group_buy/get_group_buy_data_now',
                class: 'table table-bordered table-hover table-striped',
                striped: true,                      //是否显示行间隔色
                pagination: true,
                sortable: true,                     //是否启用排序
                toolbar: '#toolbar',              //工具按钮用哪个容器
                pageSize: 15,                     //每页的记录行数（*）
                pageList: [15, 30, 50],        //可供选择的每页的行数（*）
                // search: true,                      //是否显示表格搜索
                // showRefresh: true,
                columns: [
                    {
                        checkbox: true
                    }, {
                    field: 'group_buy_id',
                    title: '团购id',
                    sortable: true
                }, {
                    field: 'cinema_name',
                    title: '影院名',
                    sortable: true
                }, {
                    field: 'start_time',
                    title: '开始时间',
                    sortable: true
                }, {
                    field: 'end_time',
                    title: '结束时间',
                    sortable: true
                }, {
                    field: 'start_sell',
                    title: '开售时间',
                    sortable: true
                }, {
                    field: 'end_sell',
                    title: '结售时间',
                    sortable: true
                }, {
                    field: 'now_sales',
                    title: '已售'
                }, {
                    field: 'max_sales',
                    title: '最大'
                }, {
                    field: 'price',
                    title: '价格',
                    sortable: true
                },
                ],
                onClickCell: function (field, value, row, $element) {
                    var chang_abled = new Array("max_sales");
                    var o_value = value;//单元格原值

                    if ($.inArray(field, chang_abled) >= 0) {
                        $element.attr('contenteditable', true);
                        $element.unbind('blur').bind('blur', function () {//不这样写的话会触发两次回调
                            let index = $element.parent().data('index');
                            let tdValue = $element.html();
                            if (tdValue != o_value) {
                                saveData(index, field, tdValue);
                                if (!check(row)) {
                                    $("#group-buy-table").bootstrapTable("refresh", {//静态刷新表格
                                        silent: true
                                    });
                                } else {
                                    update_row(row)
                                    // $("#group-buy-table").bootstrapTable("refresh", {//静态刷新表格
                                    //     silent: true
                                    // }); 不知道为什么数据更新有延迟，手动刷新才能看到修改后的结果
                                }
                            }
                        })
                    }
                }
            })
        };

        function saveData(index, field, value) {//保存到当前页面
            $("#group-buy-table").bootstrapTable('updateCell', {
                index: index,       //行索引
                field: field,       //列名
                value: value        //cell值
            })
        }

        function update_row(row) {//升级数据到服务器
            $.ajax({
                url: "/group_buy/update_group_buy",
                type: "post",
                // data表示发送的数据
                data: JSON.stringify(row),
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为JSON字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    if (data != 0) {
                        alert("数据更新失败！！");
                    }
                }
            });
        }

        function check(row) {//合法性检查
            if (!/^[0-9]*$/.test(row.max_sales)) {
                alert("只能输入数字！！")
                return false;
            }


            return true
        }
        $(function () {
            $("#remove").on("click", function () {
                var rows = $("#group-buy-table").bootstrapTable('getSelections'); // 获得要删除的数据
                if (rows.length == 0) { // rows 主要是为了判断是否选中，下面的else内容才是主要
                    alert("请先选择!");
                    return;
                } else {
                    if (!confirm("是否确认停售？"))
                        return;
                    var ids = new Array(); // 声明一个数组
                    $(rows).each(function () { // 通过获得别选中的来进行遍历
                        ids.push(this.group_buy_id); // cid为获得到的整条数据中的一列
                    });
                    $.ajax({
                        url: "/group_buy/stop_sell",
                        type: "post",
                        // data表示发送的数据
                        data: {"ids": ids},
                        traditional: true,
                        success: function (data) {
                            if (data != 0) {
                                alert("操作失败！！");
                            } else {
                                alert("操作成功！！");
                                $("#group-buy-table").bootstrapTable("refresh", {//静态刷新表格
                                    silent: true
                                });
                            }
                        }
                    });
                }
            })
            $("#refresh").on("click", function () {
                $("#article-table").bootstrapTable("refresh", {//静态刷新表格
                    silent: true
                });
            })
        })
    </script>
</head>

<body data-type="widgets" onload="load_group_buy_data_now()">
<script src="js/adminjs/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="images/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
                    </li>
                    <!-- 新邮件 -->
                    <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-envelope"></i>
                            <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                        </a>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="images/img/user04.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        3小时前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-success"></i>
                                            <span>夕风色</span>
                                        </div>
                                        <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI
                                            的成长，则离不开用户的支持。
                                        </div>
                                        <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                    </div>
                                </a>
                            </li>

                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="images/img/user02.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        5天前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-warning"></i>
                                            <span>禁言小张</span>
                                        </div>
                                        <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。</div>
                                        <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <i class="am-icon-circle-o"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 新提示 -->
                    <li class="am-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-bell"></i>
                            <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                        </a>

                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-line-chart"></i>
                                        <span> 有6笔新的销售订单</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        12分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-star"></i>
                                        <span> 有3个来自人事部的消息</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        30分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-folder-o"></i>
                                        <span> 上午开会记录存档</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        1天前
                                    </div>
                                </a>
                            </li>


                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <i class="am-icon-bell"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="images/img/user04.png" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
            <li class="sidebar-nav-link">
                <a href="index.html">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="tables.html">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 表格
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="calendar.html">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 日历
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="form.html">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单

                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="chart.html">
                    <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 文章管理
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="/all_article_manage">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章管理（所有）
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/article_manage_hot">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 热门文章管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/self_article_manage">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章管理（个人）
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="/article_check">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 审核
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="/article_comment_manage">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章评论管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 团购管理
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="/group_buy_add">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 添加团购
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/group_buy_manage">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 当期团购信息维护
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/group_buy_manage_past">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 查看往期团购
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 电影管理
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="javascript:;" class="sidebar-nav-sub-title">
                            <i class="am-icon-table sidebar-nav-link-logo"></i> 基础资料管理
                            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                        </a>
                        <ul class="sidebar-nav sidebar-nav-sub">
                            <li class="sidebar-nav-link">
                                <a href="/admin_cinema">
                                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 影院管理
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/admin_hall">
                                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 影厅管理
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/admin_moviestypes">
                                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 影片类型管理
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/admin_showtype">
                                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 影片版本管理
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/admin_movies">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 影片管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/admin_movieschedule">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 排片管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/admin_moviecomment">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 影片评论管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="/admin_messageboard" class="sidebar-nav-sub-title">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 留言管理
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="/admin_log" class="sidebar-nav-sub-title">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 日志管理
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
            </li>

            <li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title active">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    <li class="sidebar-nav-link">
                        <a href="table-list.html" class="sub-active">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文字列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="table-list-img.html">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 图文列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="sign-up.html">
                    <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                    <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="login.html">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="404.html">
                    <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                </a>
            </li>

        </ul>
    </div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">团购信息维护 支持 立即停售 修改最大销量（不能低于已售量）</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body  widget-body-lg am-fr">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button id="refresh" type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-refresh"></span> 刷新</button>
                        <button id="remove" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 立即停售</button>
                    </div>
                </div>
                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black  " id="group-buy-table">

                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/adminjs/amazeui.min.js"></script>
<script src="js/adminjs/amazeui.datatables.min.js"></script>
<script src="js/adminjs/dataTables.responsive.min.js"></script>
<script src="js/adminjs/app.js"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap-table-zh-CN.min.js}"></script>
</body>

</html>