<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dynamic</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/css/faqstyle.css}" type="text/css" media="all" />
    <link th:href="@{/css/single.css}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/contactstyle.css}" type="text/css" media="all" />
    <!-- news-css -->
    <link rel="stylesheet" th:href="@{/css/news-css/news.css}" type="text/css" media="all" />
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" th:href="@{/css/list-css/list.css}" type="text/css" media="all" />
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

    <link type="text/css" th:href="@{/css/bootstrap-table.min.css}">
    <script type="text/javascript" th:src="@{js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap-table-zh-CN.min.js}"></script>
    <script>
        function load_group_buy_data_now() {//请求当期团购数据,并动态创建页面对象。
            $("#group-buy-data-now-table").bootstrapTable({
                url: '/group_buy/get_group_buy_data_now',
                class: 'table table-bordered table-hover table-striped',
                striped: true,                      //是否显示行间隔色
                pagination: true,
                sortable: true,                     //是否启用排序
                toolbar: '#toolbar',              //工具按钮用哪个容器
                pageSize: 15,                     //每页的记录行数（*）
                pageList: [15, 30, 50],        //可供选择的每页的行数（*）
                search: true,                      //是否显示表格搜索
                onClickRow: function () {
                    //团购购票
                },
                columns: [{
                    field: 'cinema_name',
                    title: '影院名',
                    sortable: true
                }, {
                    field: 'start_time',
                    title: '开始时间',
                    sortable: true
                }, {
                    field: 'end_time',
                    title: '结束时间',
                    sortable: true
                }, {
                    field: 'start_sell',
                    title: '开售时间',
                    sortable: true
                }, {
                    field: 'end_sell',
                    title: '结售时间',
                    sortable: true
                }, {
                    field: 'now_sales',
                    title: '已售'
                }, {
                    field: 'max_sales',
                    title: '最大'
                }, {
                    field: 'price',
                    title: '价格',
                    sortable: true
                },
                ],
            })
        };

        function load_group_buy_data_past() {//请求当期团购数据,并动态创建页面对象。
            $("#group-buy-data-past-table").bootstrapTable({
                url: '/group_buy/get_group_buy_data_past',
                class: 'table table-bordered table-hover table-striped',
                striped: true,                      //是否显示行间隔色
                pagination: true,
                sortable: true,                     //是否启用排序
                toolbar: '#toolbar',              //工具按钮用哪个容器
                pageSize: 15,                     //每页的记录行数（*）
                pageList: [15, 30, 50],        //可供选择的每页的行数（*）
                search: true,                      //是否显示表格搜索
                columns: [{
                    field: 'cinema_name',
                    title: '影院名',
                    sortable: true
                }, {
                    field: 'start_time',
                    title: '开始时间',
                    sortable: true
                }, {
                    field: 'end_time',
                    title: '结束时间',
                    sortable: true
                }, {
                    field: 'start_sell',
                    title: '开售时间',
                    sortable: true
                }, {
                    field: 'end_sell',
                    title: '结售时间',
                    sortable: true
                }, {
                    field: 'now_sales',
                    title: '已售'
                }, {
                    field: 'max_sales',
                    title: '最大'
                }, {
                    field: 'price',
                    title: '价格',
                    sortable: true
                },
                ],
            })
        };
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body onload="load_group_buy_data_now()">
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="#" method="post">
                <input type="text" name="Search" placeholder="Search" required="">
                <input type="submit" value="Go">
            </form>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>Login to your account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                            <div class="form">
                                <h3>Create an account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="email" name="Email" placeholder="Email Address" required="">
                                    <input type="text" name="Phone" placeholder="Phone Number" required="">
                                    <input type="submit" value="Register">
                                </form>
                            </div>
                            <div class="cta"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function(){
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/index}">首页</a></li>
                        <li ><a th:href="@{/dynamic}" >影城动态</a></li>
                        <li><a th:href="@{/see_movie}">看电影</a></li>
                        <li><a th:href="@{/group_buy}">团购</a></li>
                        <li ><a href="#" >商城 </a></li>
                        <li><a th:href="@{/cooperation}">商务合作信息</a></li>
                        <li><a th:href="@{/about_us}">关于企业信息</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //nav -->
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </nav>
</div>
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="tittle-head">
            <div class="container">
                <div class="agileits-single-top">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/index}">首页</a></li>
                        <li class="active">团购</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="general">
            <div class="container">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab"
                                                                  data-toggle="tab" aria-controls="home"
                                                                  aria-expanded="true"
                                                                  onclick="load_group_buy_data_now()">今日团购</a></li>
                        <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab"
                                                            data-toggle="tab" aria-controls="profile"
                                                            aria-expanded="false" onclick="load_group_buy_data_past()">查看往期团购</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                            <!--默认栏内容-->
                            <div class="container">
                                <table id="group-buy-data-now-table">
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <!--其它栏内容-->
                            <div class="container">
                                <table id="group-buy-data-past-table">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>One<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="genres.html">Movies</a>
                </li>
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="horror.html">Action</a>
                </li>
                <li>
                    <a href="genres.html">Adventure</a>
                </li>
                <li>
                    <a href="comedy.html">Comedy</a>
                </li>
                <li>
                    <a href="icons.html">Icons</a>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script th:src="@{js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>