<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>团购</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/contactstyle.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/faqstyle.css}" type="text/css" media="all"/>
    <link th:href="@{/css/single.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/css/medile.css}" rel='stylesheet' type='text/css'/>
    <!-- banner-slider -->
    <link th:href="@{/css/jquery.slidey.min.css}" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet" type="text/css" media="all">
    <script th:src="@{js/owl.carousel.js}"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <script>
        function load_group_buy_data_now() {//请求当期团购数据,并动态创建页面对象。
            $.get("/group_buy/get_group_buy_data_now", function (data, status) {
                var dataObj = JSON.parse(data)
                update_row_group_buy_data_now(dataObj)
            });
        };
        function load_group_buy_data_past() {//请求当期团购数据,并动态创建页面对象。
            $.get("/group_buy/get_group_buy_data_past", function (data, status) {
                var dataObj = JSON.parse(data)
                update_row_group_buy_data_past(dataObj)
            });
        };
        function update_row_group_buy_data_now(dataObj) {
            $("#group-buy-data-now").empty();
            var i
            for (i = 0; i < dataObj.length; i++){
                var rowObj = dataObj[i]
                var row =  $("<tr></tr>");
                row.append($("<td></td>").text(rowObj.cinema_name))
                row.append($("<td></td>").text(rowObj.start_time + "至" + rowObj.end_time))
                row.append($("<td></td>").text(rowObj.start_sell + "至" + rowObj.end_sell))
                row.append($("<td></td>").text(rowObj.price))
                row.append($("<td></td>").text(rowObj.now_sales+"/"+rowObj.max_sales))
                row.append($("<td></td>").text("立即订票"))
                $("#group-buy-data-now").append(row);
            }
        }
        function update_row_group_buy_data_past(dataObj) {
            $("#group-buy-data-past").empty();
            var i
            for (i = 0; i < dataObj.length; i++){
                var rowObj = dataObj[i]
                var row =  $("<tr></tr>");
                row.append($("<td></td>").text(rowObj.cinema_name))
                row.append($("<td></td>").text(rowObj.start_time + "至" + rowObj.end_time))
                row.append($("<td></td>").text(rowObj.start_sell + "至" + rowObj.end_sell))
                row.append($("<td></td>").text(rowObj.price))
                row.append($("<td></td>").text(rowObj.now_sales+"/"+rowObj.max_sales))
                $("#group-buy-data-past").append(row);
            }
        }

    </script>
</head>

<body onload="load_group_buy_data_now()">
<!--首部-->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="#" method="post">
                <input type="text" name="Search" placeholder="Search" required="">
                <input type="submit" value="Go">
            </form>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>Login to your account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                            <div class="form">
                                <h3>Create an account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="email" name="Email" placeholder="Email Address" required="">
                                    <input type="text" name="Phone" placeholder="Phone Number" required="">
                                    <input type="submit" value="Register">
                                </form>
                            </div>
                            <div class="cta"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function(){
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<!--顶部菜单-->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/index}">首页</a></li>
                        <li><a th:href="@{/dynamic}">影城动态</a></li>
                        <li><a th:href="@{/see_movie}">看电影</a></li>
                        <li><a th:href="@{/group_buy}">团购</a></li>
                        <li><a href="#">商城 </a></li>
                        <li><a href="short-codes.html">商务合作信息</a></li>
                        <li><a href="list.html">关于企业信息</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!--页面内容-->
<div class="general-agileits-w3l">
    <div class="w3l-medile-movies-grids">
        <div class="general">
            <div class="tittle-head">
                <div class="container">
                    <div class="agileits-single-top">
                        <ol class="breadcrumb">
                            <li><a th:href="@{/index}">首页</a></li>
                            <li class="active">团购</li>
                        </ol>
                    </div>
                </div>
            </div>
            <h4 class="latest-text w3_latest_text">团购</h4>
            <div class="container">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab"
                                                                  data-toggle="tab" aria-controls="home"
                                                                  aria-expanded="true" onclick="load_group_buy_data_now()">今日团购</a></li>
                        <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab"
                                                            data-toggle="tab" aria-controls="profile"
                                                            aria-expanded="false" onclick="load_group_buy_data_past()">查看往期团购</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                            <!--默认栏内容-->
                            <div class="container">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>影城</th>
                                        <th>有效时间</th>
                                        <th>售票时间</th>
                                        <th>价格</th>
                                        <th>已售/最大</th>
                                        <th>预订链接</th>
                                    </tr>
                                    </thead>
                                    <tbody id="group-buy-data-now">
                                    </tbody>
                                </table>
                            </div>
                            <div class="blog-pagenat-wthree">
                                <ul>
                                    <li><a class="frist" href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a class="last" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <!--其它栏内容-->
                            <div class="container">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>影城</th>
                                        <th>有效时间</th>
                                        <th>售票时间</th>
                                        <th>价格</th>
                                        <th>已售/最大</th>
                                    </tr>
                                    </thead>
                                    <tbody id="group-buy-data-past">
                                    </tbody>
                                </table>
                            </div>
                            <div class="blog-pagenat-wthree">
                                <ul>
                                    <li><a class="frist" href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a class="last" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //w3l-medile-movies-grids -->
</div>
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>One<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                                        target="_blank" title="模板之家">模板之家</a>
                - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="genres.html">Movies</a>
                </li>
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="horror.html">Action</a>
                </li>
                <li>
                    <a href="genres.html">Adventure</a>
                </li>
                <li>
                    <a href="comedy.html">Comedy</a>
                </li>
                <li>
                    <a href="icons.html">Icons</a>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>