<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>电影排期</title>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <link type="image/x-icon" href="http://static1.mtime.cn/favicon.ico" rel="icon">
    <link type="image/x-icon" href="http://static1.mtime.cn/favicon.ico" rel="shortcut icon">
    <link type="image/x-icon" href="http://static1.mtime.cn/favicon.ico" rel="bookmark">
    <link type="application/opensearchdescription+xml" href="http://feed.mtime.com/opensearch.xml" title="Mtime影视搜索"
          rel="search">
    <link rel="alternate" type="application/rss+xml" title="影评" href="http://feed.mtime.com/comment.rss">
    <link rel="alternate" type="application/rss+xml" title="日志" href="http://feed.mtime.com/blog.rss">
    <link rel="alternate" type="application/rss+xml" title="资讯" href="http://feed.mtime.com/news.rss">
    <link rel="alternate" type="application/rss+xml" title="话题" href="http://feed.mtime.com/topic.rss">
    <link rel="alternate" type="application/rss+xml" title="周刊" href="http://feed.mtime.com/weekly.rss">
    <script type="text/javascript">
        var server = "http://static1.mtime.cn/";
        var subServer = "http://static1.mtime.cn/theater/";
        var version = "20200114183050";
        var subVersion = "20190321133339";
        var jsServer = server + version;
        var cssServer = server + version;
        var subJsServer = subServer + subVersion;
        var subCssServer = subServer + subVersion;
        var debug = false;
        var mtimeCookieDomain = "mtime.com";
        var siteLogUrl = "http://log.mtime.cn";
        var siteServiceUrl = "http://service.mtime.com";
        var siteTheaterServiceUrl = "http://service.theater.mtime.com";
        var crossDomainUpload = "http://upload3.mtime.com/Upload.ashx";
    </script>
    <link th:href="@{/css/publicpack.css}" rel="stylesheet" media="all" type="text/css">
    <link th:href="@{/css/cinema.css}" rel="stylesheet" media="all" type="text/css">
    <script  type="text/javascript" charset="utf-8" th:src="@{js/MovieShowtimePage.js}" async="true"></script>
    <script  type="text/javascript" charset="utf-8" th:src="@{js/ga.js}" async="true"></script>
    <script  type="text/javascript" charset="utf-8" th:src="@{js/h.js}" async="true"></script>
</head>

<!-- js -->
<script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
<script th:src="@{js/getParam.js}"></script>
<script th:src="@{js/login.js}"></script>
<script>
    var Cinema = {
        getInfo: function (d) { //day表示选择的日期：0：今天，1：明天，2：后天
            //url:表示后台的url，就是 RequestMapping配置的内容
            // type：http请求的类型
            var url = document.location.href;
            var movie_id = getParam(url,'movie_id');
            var day=d;
            $.ajax({
                url: "/schedule_cinema",
                data:JSON.stringify({movie_id:movie_id,day:day}),
                type: "post",
                async:false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var cinemaList = data.cinemaList;
                    console.log(data.cinemaList);
                    var m='';
                    for(var i=0 ; i<data.cinemaList.length;i++){
                        m+='<dl class="movieinfobox">';
                        m+=' <dt><a href=""target="_blank">'+cinemaList[i].cinema_name+'</a>' +
                            '</dt>'
                            +'<dd class="infotxt filmicon">' +
                            '<p>'+cinemaList[i].cinema_address+'</p>' +
                            '<div  class="ticketselect"  style="">'+
                            '<a  class="ico_c_ticket" onclick="Schedule.getInfo(\''+day+'\',\''+cinemaList[i].cinema_id+'\',\''+i+'\');">查影讯<span>∨</span></a>' +
                            '</div>' +
                            '</dd>'+
                            '<dd class="tickettime" id="tickettime'+i+'" style="display: none;">';
                        m+='</dl>';
                    }

                    document.getElementById("cinemaListRegion").innerHTML = "";
                    document.getElementById("cinemaListRegion").innerHTML = m;
                    document.getElementById("buttonCinameKeyword").onclick = function(){searchCinema(d)};
                }});

        }
    };
    function searchCinema(d) {
        var url = document.location.href;
        var movie_id = getParam(url,'movie_id');
        var cinema_name = document.getElementById("inputCinameKeyword").value;
        var day=d;
        $.ajax({
            url: "/search_schedule_cinema",
            data:JSON.stringify({movie_id:movie_id,day:day,cinema_name:cinema_name}),
            type: "post",
            async:false,
            // 定义发送请求的数据格式为JSON字符串
            contentType: "application/json;charset=UTF-8",
            //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
            dataType: "json",
            //成功响应的结果
            success: function (data) {
                var cinemaList = data.cinemaList;
                console.log(data.cinemaList);
                var m='';
                for(var i=0 ; i<data.cinemaList.length;i++){
                    m+='<dl class="movieinfobox">';
                    m+=' <dt><a href=""target="_blank">'+cinemaList[i].cinema_name+'</a>' +
                        '</dt>'
                        +'<dd class="infotxt filmicon">' +
                        '<p>'+cinemaList[i].cinema_address+'</p>' +
                        '<div  class="ticketselect"  style="">'+
                        '<a  class="ico_c_ticket" onclick="Schedule.getInfo(\''+day+'\',\''+cinemaList[i].cinema_id+'\',\''+i+'\');">查影讯<span>∨</span></a>' +
                        '</div>' +
                        '</dd>'+
                        '<dd class="tickettime" id="tickettime'+i+'" style="display: none;">';
                    m+='</dl>';
                }

                document.getElementById("cinemaListRegion").innerHTML = "";
                document.getElementById("cinemaListRegion").innerHTML = m;
            }});
    }
</script>
<script>
    var Movie = {
        getInfo: function () {
            //url:表示后台的url，就是 RequestMapping配置的内容
            // type：http请求的类型
            var url = document.location.href;
            var movie_id = getParam(url,'movie_id');
            var id;
            $.ajax({
                url: "/moviesInfo?movie_id="+movie_id,
                data:{id:id},
                type: "post",
                async:false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var movie = data.movie;
                    //拼接html语句
                    var m='<div class="filminfo">'+
                        '<a href="" target="_blank" title="'+movie.movie_name+'">' +
                        '<img src="'+movie.cover+'" height="405" width="270" ' +
                        'alt="'+movie.movie_name+'">' +
                        '<span class="icon_type">' +
                        '</span>' +
                        '</a>' +
                        '<div class="clearfix">' +
                        '<div id="movieRatingRegion" class="filmscore" style="display:none;">' +
                        '</div>' +
                        '<ul class="filmtxt">' +
                        '<li>上映：'+movie.release_date+'</li>' +
                        '<li title="主演">主演：'+movie.main_actor+'</li>' +
                        '<li>时长：107分钟</li>' +
                        '</ul>' +
                        '</div>'+
                        '</div>';
                    document.getElementById("movieInfoRegion").innerHTML = m;

                    var n='<h2 title="'+movie.movie_name+'">'+movie.movie_name+' </h2>' +
                        '<h3 title="'+movie.movie_name+'">'+movie.movie_name+' </h3>';
                    document.getElementById("moviename").innerHTML = n;
                }});

        }
    };
</script>
<script>
    var Schedule = {
        getInfo: function (d,c,id) { //day表示选择的日期：0：今天，1：明天，2：后天
            //url:表示后台的url，就是 RequestMapping配置的内容
            // type：http请求的类型
            var url = document.location.href;
            var movie_id = getParam(url,'movie_id');
            var day=d;
            var cinema_id=c;
            $.ajax({
                url: "/schedule_detail",
                data:JSON.stringify({cinema_id:cinema_id,movie_id:movie_id,day:day}),
                type: "post",
                async:false,
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var scheduleList = data.scheduleList;
                    console.log(data.scheduleList);
                    var schedule = data.scheduleList;
                    console.log(schedule);
                    var m='';
                    for(var i=0 ; i<data.scheduleList.length;i++){
                        m+='<ul class="clearfix" onclick="window.location.href=\'/seats_select?movie_schedule_id='+schedule[i].movie_schedule_id+'\'">' +
                            '<li class="notlink">' +
                            '<div class="timebox fl">' +
                            '<p class="only">'+schedule[i].end_sell+'<span class="nextday"></span></p>' +
                            '<p><span>'+schedule[i].show_type+'</span><span>英语版</span></p>' +
                            '</div>' +
                            '<div class="pricebox fl">' +
                            '<p class="only"></p>' +
                            '<p>参考价</p>' +
                            '<p class="only">'+schedule[i].price+'</p>' +
                            '</div>' +
                            '</li>' +
                            '</ul>'
                    }
                    m+='<p class="morelink"><a onclick="Display(\''+id+'\');"><b class="v_m">收起</b><span> ∧</span></a></p>'
                    document.getElementById("tickettime"+id).innerHTML = "";
                    document.getElementById("tickettime"+id).innerHTML = m;
                    document.getElementById("tickettime"+id).style.display="block";
                }});

        }
    };
</script>
<script>
    function Getdate() {
        var date = new Date();
        var month = date.getMonth()+1;
        var day = date.getDate();
        var tomorrow = day+1;
        var aftertomorrow= day+2;
        var html='';
        html+='<ul id="valueDateRegion" class="clearfix transition6" style="left: 0px; width: 260px;">' +
            '<li class="curr"><a onclick="Cinema.getInfo(0)">今天 &nbsp; '+month+'月'+day+'日<i class="ico_c_jiao00">&nbsp;</i></a></li>' +
            '</ul>' +
            '<ul id="valueDateRegion1" class="clearfix transition6" style="left: 170px; width: 260px;">' +
            '<li class="curr"><a onclick="Cinema.getInfo(1)"> 明天 &nbsp; '+month+'月'+tomorrow+'日<i class="ico_c_jiao00">&nbsp;</i></a></li>' +
            '</ul>' +
            '<ul id="valueDateRegion2" class="clearfix transition6" style="left: 340px; width: 260px;">' +
            '<li class="curr"><a onclick="Cinema.getInfo(2)">后天 &nbsp; '+month+'月'+aftertomorrow+'日<i class="ico_c_jiao00">&nbsp;</i></a></li>' +
            '</ul>';
        document.getElementById("menuscroll").innerHTML = html;
    }
</script>
<script>
    $(function () {
        Movie.getInfo();
        Cinema.getInfo(0);
        Getdate();
    });
    function Display(i){
        document.getElementById("tickettime"+i).style.display="none";
    }
</script>
<script>
    $('.toggle').click(function(){
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>

<body>

<!--<div class="header">
    <div class="container1">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="#" method="post">
                <input type="text" name="Search" placeholder="Search" required="">
                <input type="submit" value="Go">
            </form>
        </div>

        <div class="w3l_sign_in_register">
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) R 345 653</li>
                <li><a href="#" data-toggle="modal" data-target="#myModal" id = "login-button">Login</a></li>
                <li><a href="/logout" onclick="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>Login to your account</h3>
                                <form>
                                    <input type="text" name="user_name" placeholder="user_name" required="" >
                                    <input type="password" name="password" placeholder="password" required="">
                                    <ul>
                                        <input type="button" value="Login" onclick="try_login()">
                                        <a name="tips"></a>
                                    </ul>
                                </form>
                            </div>
                            <div class="form">
                                <h3>Create an account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="email" name="Email" placeholder="Email Address" required="">
                                    <input type="text" name="Phone" placeholder="Phone Number" required="">
                                    <input type="submit" value="Register">
                                </form>
                            </div>
                            <div class="cta"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>-->
<div class="newshowtime">
    <div class="nstimebg"> &nbsp;</div>
    <div class="nstimemid">
        <div id="M14_A_MovieShowtimePage_TopBannerTG"> </div>
        <div class="nbg_cinema">
            <div class="nstimecon clearfix">
                <div class="aside">
                    <div id="movieInfoRegion" class="filbg">

                        <!--<div class="filminfo">
                            <a href="http://movie.mtime.com/242129/" target="_blank" title="叶问4：完结篇">
                                <img src="images/boy7.png"
                                     alt="叶问4：完结篇">
                                <span class="icon_type">
                                    </span>
                            </a>
                            <div class="clearfix">
                                <div id="movieRatingRegion" class="filmscore" style="display:none;">

                                </div>
                                <ul class="filmtxt">
                                    <li>上映：2019年12月20日</li>
                                    <li title="动作 /传记 /历史 /剧情 ">类型：动作 /传记 /历史 /剧情 </li>
                                    <li>时长：107分钟</li>
                                </ul>
                            </div>
                        </div>-->

                        <!--<div id="movieVideoRegion" class="filmplay" vid="77259">
                            <a href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                               target="_blank" onclick="return false;">&lt;!&ndash;<i class="ico_newplay">&nbsp;</i>&ndash;&gt;
                                <img src="./叶问4：完结篇 佛山影讯 2020年01月30日_files/141310.12701597_294X152X4.jpg"
                                     alt="">
                            </a>
                        </div>-->

                    </div>
                    <div id="M14_A_MovieShowtimePage_HotPlaysTopTG"> </div>
                    <div class="asider">
                        <div id="divRelatedGoods" class="storeout __r_c_" pan="M14_A_MovieShowtimePage_RelatedGoods"
                             style=""></div>
                        <div id="hotPlayMoviesRegion" class="moremovie" style="">
                            <h2>
                                更多热映：</h2>
                            <ul>
                                <li movieid="255844">
                                    <a href="http://movie.mtime.com/255844/" target="_blank" class="picmid"
                                       title="勇敢者游戏2：再战巅峰">
                                        <img src="./叶问4：完结篇 佛山影讯 2020年01月30日_files/093123.64507840_96X128.jpg"
                                             alt="勇敢者游戏2：再战巅峰"></a>
                                    <div class="txtmid">
                                        <h2><a href="http://movie.mtime.com/255844/"
                                               target="_blank">勇敢者游戏2：..</a><span style="">6.8</span></h2>
                                        <p>114 分钟 - - 动作 /冒险 /奇幻 </p>
                                        <p title="杰克·卡斯丹">导演：杰克·卡斯丹</p>
                                        <div class="linktick">
                                            <a href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/255844/"
                                               target="_blank">选座购票 </a><span>&gt;</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="videoname" id="moviename">
                        <ul class="cinema_info_place" id="">
                            <li class="cinema_info_city" id="userCityRegion">
                                <em></em><label>佛山</label><span>[切换]</span></li>
                            <li class="cinema_info_cinema" id="showTimeCountRegion">
                                今日<span>0</span>家影院，上映<span>0</span>场</li>
                        </ul>
                        <!--<div class="userbar" id="userCityListRegion">
                            <div id="movie_showtime_tip" class="showtime_tip"
                                 style="display:none;width: 560px; position: absolute; top: 35px; right: 0px;">
                                <div class="share_tit clearfix"><span class="btn_close fr">关闭</span>
                                    <div class="citysearch"><input type="text" class="text c_a5" autocomplete="off">
                                    </div><span class="cityletter"><a
                                            href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                            onclick="return false;" class="on" _v="热门">热门<b> </b></a><a
                                            href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                            onclick="return false;" _v="A-G">A-G<b> </b></a><a
                                            href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                            onclick="return false;" _v="H-L">H-L<b> </b></a><a
                                            href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                            onclick="return false;" _v="M-T">M-T<b> </b></a><a
                                            href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                            onclick="return false;" _v="W-Z">W-Z<b> </b></a></span>
                                </div>
                                <div class="p15">
                                    <div>
                                        <div class="city_list2 clearfix"><span class="fl w30 bold mt5"> </span>
                                            <ul>
                                                <li><a value="290">北京</a></li>
                                                <li><a value="292">上海</a></li>
                                                <li><a value="366">深圳</a></li>
                                                <li><a value="291">重庆</a></li>
                                                <li><a value="365">广州</a></li>
                                                <li><a value="880">成都</a></li>
                                                <li><a value="974">杭州</a></li>
                                                <li><a value="293">天津</a></li>
                                                <li><a value="791">西安</a></li>
                                                <li><a value="371">东莞</a></li>
                                            </ul><span class="fl w30 bold mt5"> </span>
                                            <ul>
                                                <li><a value="489">郑州</a></li>
                                                <li><a value="561">武汉</a></li>
                                                <li><a value="295">合肥</a></li>
                                                <li><a value="722">沈阳</a></li>
                                                <li><a value="373">佛山</a></li>
                                                <li><a value="628">南京</a></li>
                                                <li><a value="598">长沙</a></li>
                                                <li><a value="992">宁波</a></li>
                                                <li><a value="662">无锡</a></li>
                                                <li><a value="829">青岛</a></li>
                                            </ul><span class="fl w30 bold mt5"> </span>
                                            <ul>
                                                <li><a value="950">昆明</a></li>
                                                <li><a value="453">石家庄</a></li>
                                                <li><a value="1332">苏州</a></li>
                                                <li><a value="729">大连</a></li>
                                                <li><a value="323">厦门</a></li>
                                                <li><a value="693">长春</a></li>
                                                <li><a value="805">济南</a></li>
                                                <li><a value="328">福州</a></li>
                                                <li><a value="411">南宁</a></li>
                                                <li><a value="1001">温州</a></li>
                                            </ul><span class="fl w30 bold mt5"> </span>
                                            <ul>
                                                <li><a value="674">南昌</a></li>
                                                <li><a value="409">中山</a></li>
                                                <li><a value="528">哈尔滨</a></li>
                                                <li><a value="630">常州</a></li>
                                                <li><a value="1355">台州</a></li>
                                                <li><a value="379">惠州</a></li>
                                                <li><a value="649">南通</a></li>
                                                <li><a value="664">徐州</a></li>
                                                <li><a value="677">赣州</a></li>
                                                <li><a value="338">泉州</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="ci_menu"> <a id="msDatePrev"
                                             href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                             class="cimenu_prev" onclick="return false;" style="display: none;">&nbsp;</a> <a
                            id="msDateNext"
                            href=""
                            class="cimenu_next" onclick="return false;" style="display: none;">&nbsp;</a>
                        <div class="menuscroll" id="menuscroll">
                            <!--<ul id="valueDateRegion" class="clearfix transition6" style="left: 0px; width: 260px;">
                                <li class="curr"><a
                                        href=""
                                        target="_self">今天 &nbsp; 4月3日<i class="ico_c_jiao00">&nbsp;</i></a></li>
                            </ul>
                            <ul id="valueDateRegion1" class="clearfix transition6" style="left: 170px; width: 260px;">
                                <li class="curr"><a onclick="Cinema.getInfo(1)"
                                        >明天 &nbsp; 4月4日<i class="ico_c_jiao00">&nbsp;</i></a></li>
                            </ul>
                            <ul id="valueDateRegion2" class="clearfix transition6" style="left: 340px; width: 260px;">
                                <li class="curr"><a onclick="Cinema.getInfo(2)"
                                        >后天 &nbsp; 4月5日<i class="ico_c_jiao00">&nbsp;</i></a></li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="conmid">
                        <div class="othermenu ">
                            <!--<ul class="clearfix othertab">
                                <li id="areaAndSubwayFilter" class="first">商圈及地铁沿线 <i
                                        class="ico_f_jiao">&nbsp;</i><em>&nbsp;</em></li>
                                <li id="featureFilter"><i class="ico_radio notcheck" v="1"></i> <label
                                        class="v_m notcheck" v="1"> 购票</label> <i class="ico_radio" v="2"></i>
                                    <label class="v_m" v="2"> 停车场</label> <i class="ico_radio" v="3"></i> <label
                                            class="v_m" v="3"> 3D</label> <i class="ico_radio notcheck" v="4"></i>
                                    <label class="v_m notcheck" v="4"> IMAX</label> <i class="ico_radio notcheck"
                                                                                       v="5"></i> <label class="v_m notcheck" v="5"> 4DX</label> </li>
                            </ul>-->
                            <div class="citysearch"> <input id="inputCinameKeyword" type="text" class="text c_a5"
                                                            value="搜索影院" autocomplete="off">
                                <input id="buttonCinameKeyword" type="button" onclick=""
                                                                                                    class="button"> </div>
                            <dl id="cinemaSearchTip" class="showsearch searchcity" style="display: none;"> </dl>
                            <div id="areaAndSubwayfilterBox" class="showcitybox clearfix" style="display: none;">
                            </div>
                        </div>
                        <div class="movieline"> &nbsp;</div>
                        <div class="mark_banner"> 以下影城均非时光网自营</div>
                        <div id="cinemaListRegion" class="movietxt" style="display:block;">
                            <!--<dl class="movieinfobox">
                                <dt><a
                                        href=""
                                        target="_blank">烽禾影城（佛山丹灶店）</a>&lt;!&ndash;<a method="addfavorite" cid="8060"
                                                                          href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                                                          class="ico_stat " onclick="return false;">我常去</a><a method="delfavorite"
                                                                                                                              cid="8060"
                                                                                                                              href="http://theater.mtime.com/China_Guangdong_Province_Foshan/movie/242129/#"
                                                                                                                              class="ico_stat ico_end" onclick="return false;"
                                                                                                                              style="display:none;">取消</a>&ndash;&gt;
                                </dt>
                                <dd class="infotxt filmicon">
                                    <p>广东省佛山市南海区桂丹西路21号佳盛购物中心</p>
                                   &lt;!&ndash; <div class="moretool"><i class="ico_c_f02" title="">&nbsp;</i><i
                                            class="ico_c_f03" title="">&nbsp;</i><i class="ico_c_f06"
                                                                                    title="">&nbsp;</i><i class="ico_c_f09" title="">&nbsp;</i>需押金<i
                                            class="ico_c_f14" title="免费停车">&nbsp;</i>可停车<i class="ico_c_f25"
                                                                                           title="免费停车">&nbsp;</i>取票机<i class="ico_c_f12" title="">&nbsp;</i>刷卡
                                    </div>&ndash;&gt;
                                    <div class="ticketselect" style=""><a
                                                                          href=""
                                                                          class="ico_c_ticket" onclick="return false;">查影讯<span>∨</span></a></div>
                                </dd>
                                &lt;!&ndash;<dd class="tickettime" id="tickettime" style="display: none;">&ndash;&gt;
                                    &lt;!&ndash;<ul class="clearfix">
                                        <li class="notlink">
                                            <div class="timebox fl">
                                                <p class="only">13:30<span class="nextday"></span></p>
                                                <p><span>2D</span><span>粤语版</span></p>
                                            </div>
                                            <div class="pricebox fl">
                                                <p class="only"></p>
                                                <p>参考价</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="morelink"><a href="" onclick="return false;"><b class="v_m">收起</b><span> ∧</span></a></p>
                                </dd>&ndash;&gt;
                            </dl>-->
                            <p class="tc px14 c_666 pt25 pb30">[时光网提供的影讯仅供参考，具体情况以影院现场为准！]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>