<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Single</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/faqstyle.css}" type="text/css" media="all"/>
    <link th:href="@{/css/medile.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/css/single.css}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{/css/contactstyle.css}" type="text/css" media="all"/>
    <!-- news-css -->
    <link rel="stylesheet" th:href="@{/css/news-css/news.css}" type="text/css" media="all"/>
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" th:href="@{/css/list-css/list.css}" type="text/css" media="all"/>
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <script type="text/javascript" th:src="@{js/tinymce/tinymce.min.js}"></script>
    <script type="text/javascript" th:src="@{js/article.js}"></script>
    <!-- start-smoth-scrolling -->
    <script>
        var paras = location.search;			//search获得地址中的参数，内容为'?itemId=12'
        var result = paras.match(/[^\?&]*=[^&]*/g); 	//match是字符串中符合的字段一个一个取出来，result中的值为['login=xx','table=admin']
        paras = {};					//让paras变成没有内容的json对象
        for (i in result) {
            var temp = result[i].split('=');	//split()将一个字符串分解成一个数组,两次遍历result中的值分别为['itemId','xx']
            paras[temp[0]] = temp[1];
        }
        var article_id = paras.article_id;
        var updated_news_id = "cycler";//最新更新文章容器id

        var inf = '<h4 >{0}</h4>\n' +
            '                            <div class="s-author">\n' +
            '                                <p>Posted By <a href="#"><i class="fa fa-user" aria-hidden="true"></i> {1}</a> &nbsp;&nbsp;\n' +
            '                                    <i class="fa fa-calendar" aria-hidden="true"></i> {2} &nbsp;&nbsp; <a href="#"><i\n' +
            '                                            class="fa fa-comments" aria-hidden="true"></i> Comments ({3})</a></p>\n' +
            '                            </div>';
        tinymce.init({
            selector: '#content',
            language: 'zh_CN',
            plugins: ['code', 'image', 'hr', 'lists', 'link', 'preview', 'anchor', 'code', 'table', 'insertdatetime', 'emoticons', 'imagetools', 'autoresize'],
            toolbar: false,
            menubar: false,
            min_height: 1000
        });

        function load_article() {
            $.get("/article/get_text_by_id?article_id=" + article_id, function (result) {
                tinyMCE.activeEditor.setContent(result)
            })
        }

        function load_inf() {
            $.ajax({
                url: "/article/get_single_article?article_id=" + article_id,
                type: "get",
                contentType: "application/json;charset=UTF-8",
                //定义回调响应的数据格式为JSON字符串,该属性可以省略
                dataType: "json",
                //成功响应的结果
                success: function (data) {
                    var article = JSON.stringify(data);
                    var str = String.format(inf, data.headline, data.author_name, data.release_time, data.comment_num);
                    $("#inf").append(str);
                }
            });
        }

        function load_updated_news() {//加载最新更新文章
            $.ajax({
                url: 'article/get_updated_news',
                type: "get",
                // 定义发送请求的数据格式为JSON字符串
                contentType: "application/json;charset=UTF-8",
                success: function (data) {
                    loadUpdated(JSON.parse(data), updated_news_id);
                    cycle($('#cycler div:first'), $('#cycler'));
                }
            });
        }


        function load() {
            load_inf();
            load_article();
            load_updated_news();
            loadCommentAndPageDi();
        }

        String.format = function (src) {

            if (arguments.length == 0) return null;

            var args = Array.prototype.slice.call(arguments, 1);

            return src.replace(/\{(\d+)\}/g, function (m, i) {

                return args[i];

            });

        };
    </script>
</head>

<body onload="load()">
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="#" method="post">
                <input type="text" name="Search" placeholder="Search" required="">
                <input type="submit" value="Go">
            </form>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>Login to your account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                            <div class="form">
                                <h3>Create an account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="email" name="Email" placeholder="Email Address" required="">
                                    <input type="text" name="Phone" placeholder="Phone Number" required="">
                                    <input type="submit" value="Register">
                                </form>
                            </div>
                            <div class="cta"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/index}">首页</a></li>
                        <li><a th:href="@{/dynamic}">影城动态</a></li>
                        <li><a th:href="@{/see_movie}">看电影</a></li>
                        <li><a th:href="@{/group_buy}">团购</a></li>
                        <li><a href="#">商城 </a></li>
                        <li><a th:href="@{/cooperation}">商务合作信息</a></li>
                        <li><a th:href="@{/about_us}">关于企业信息</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //nav -->
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </nav>
</div>
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li class="active">Single</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <!--			正文内容-->
                <div class="wthree-news-left">
                    <div class="wthree-news-left-img">
                        <div id="inf">
                        </div>
                        <div id="fb-root"></div>
                        <!--                        <div class="news-shar-buttons">-->
                        <!--                            <ul>-->
                        <!--                                <li>-->
                        <!--                                    <div class="fb-like" data-href="https://www.facebook.com/w3layouts"-->
                        <!--                                         data-layout="button_count" data-action="like" data-size="small"-->
                        <!--                                         data-show-faces="false" data-share="false"></div>-->
                        <!--                                    <script>(function (d, s, id) {-->
                        <!--                                        var js, fjs = d.getElementsByTagName(s)[0];-->
                        <!--                                        if (d.getElementById(id)) return;-->
                        <!--                                        js = d.createElement(s);-->
                        <!--                                        js.id = id;-->
                        <!--                                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";-->
                        <!--                                        fjs.parentNode.insertBefore(js, fjs);-->
                        <!--                                    }(document, 'script', 'facebook-jssdk'));</script>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <div class="fb-share-button" data-href="https://www.facebook.com/w3layouts"-->
                        <!--                                         data-layout="button_count" data-size="small" data-mobile-iframe="true"><a-->
                        <!--                                            class="fb-xfbml-parse-ignore" target="_blank"-->
                        <!--                                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a>-->
                        <!--                                    </div>-->
                        <!--                                </li>-->
                        <!--                                <li class="news-twitter">-->
                        <!--                                    <a href="https://twitter.com/w3layouts" class="twitter-follow-button"-->
                        <!--                                       data-show-count="false">Follow @w3layouts</a>-->
                        <!--                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="https://twitter.com/intent/tweet?screen_name=w3layouts"-->
                        <!--                                       class="twitter-mention-button" data-show-count="false">Tweet to @w3layouts</a>-->
                        <!--                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    &lt;!&ndash; Place this tag where you want the +1 button to render. &ndash;&gt;-->
                        <!--                                    <div class="g-plusone" data-size="medium"></div>-->

                        <!--                                    &lt;!&ndash; Place this tag after the last +1 button tag. &ndash;&gt;-->
                        <!--                                    <script type="text/javascript">-->
                        <!--                                        (function () {-->
                        <!--                                            var po = document.createElement('script');-->
                        <!--                                            po.type = 'text/javascript';-->
                        <!--                                            po.async = true;-->
                        <!--                                            po.src = 'https://apis.google.com/js/platform.js';-->
                        <!--                                            var s = document.getElementsByTagName('script')[0];-->
                        <!--                                            s.parentNode.insertBefore(po, s);-->
                        <!--                                        })();-->
                        <!--                                    </script>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                        <!--			正文内容-->
                        <div class="w3-agile-news-text">
                            <textarea id="content" name="content"></textarea>
                        </div>
                    </div>
                </div>
                <!--			相关新闻-->
                <div class="wthree-related-news-left">
                    <h4>Related News</h4>
                    <div class="wthree-news-top-left">
                        <div class="col-md-6 w3-agileits-news-left">
                            <div class="col-sm-5 wthree-news-img">
                                <a href="news_single.html"><img src="images/m1.jpg" alt=""/></a>
                            </div>
                            <div class="col-sm-7 wthree-news-info">
                                <h5><a href="news_single.html">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.</a></h5>
                                <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis
                                    eget.</p>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 w3-agileits-news-left">
                            <div class="col-sm-5 wthree-news-img">
                                <a href="news_single.html"><img src="images/m2.jpg" alt=""/></a>
                            </div>
                            <div class="col-sm-7 wthree-news-info">
                                <h5><a href="news_single.html">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.</a></h5>
                                <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis
                                    eget.</p>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--			评论-->
                <script>
                    var commentStr = '<div>\n' +
                        '<div class="media-left"><a href="#"><img src="images/user.jpg"\n' +
                        'title="One movies" alt=" "></a><i class="fa fa-user" aria-hidden="true"></i> {0}\n' +
                        '<i class="fa fa-calendar" aria-hidden="true"></i> {1}</div>\n' +
                        '<div class="agile-info-wthree-box">\n' +
                        '<form>\n' +
                        '<textarea>{2}</textarea>\n' +
                        '</form>\n' +
                        '</div>\n' +
                        '<hr>\n' +
                        '</div>'

                    function submitCommen() {//提交评论
                        var commen = $("#mycommen").val()
                        if (commen.length == 0)
                            return;
                        $.post("/article/submit_comment?comment=" + commen + "&article_id=" + article_id, function (result) {
                            console.log(result);
                            loadComments(1);
                        })
                    }

                    var commontPgaeDiId = "commentPageDi";
                    var loadFuncName = "loadComments";
                    var totalPage;//总页数
                    var pageShow = 5;//显示的页数
                    var pagesize = 5;//每页记录数
                    var commmenDivId = "comments";

                    function creat(total,now,max,id,funcname) {//创建分页对象,total:总页数,now:当前在第几页，max:显示多少页，id:对象id funcname:渲染页面的函数名（string）,可自行实现，需包括now,max参数
                        $("#"+id).empty();
                        var start,end;//显示的起始，终止页
                        //计算显示的起始页
                        if (total<=max){
                            start = 1;
                            end = total;
                        } else {
                            if (now <= parseInt(max/2)){
                                start = 1;
                                end = max;
                            }
                            else if (now>=total-parseInt(max/2)){
                                start = total - max + 1;
                                end = total;
                            } else {
                                start = now - parseInt(max/2) +1;
                                end = start + max -1;
                            }
                        }
                        //填充html
                        if(start==1)//创建前一页箭头内容
                            $("#"+id).append('<li class="disabled"><a href="#"><i class="fa fa-angle-left">«</i></a></li>');
                        else
                            $("#"+id).append('<li><a href="#"'+get_string(funcname,now-1)+'><i class="fa fa-angle-left">«</i></a></li>');

                        //创建各分页
                        var i;
                        for (i=0;start+i<=end;i++){
                            if (start+i==now)
                                $("#"+id).append('<li class="active"><a href="#"'+get_string(funcname,start+i)+'>'+(start+i)+'</a></li>');
                            else
                                $("#"+id).append('<li><a href="#"'+get_string(funcname,start+i)+'>'+(start+i)+'</a></li>');
                        }
                        if(now==total)//创建后一页箭头内容
                            $("#"+id).append('<li class="disabled"><a href="#"><i class="fa fa-angle-right">«</i></a></li>');
                        else
                            $("#"+id).append('<li><a href="#"'+get_string(funcname,now+1)+'><i class="fa fa-angle-right">«</i></a></li>');
                    }
                    function get_string(funcname,aim) {
                        return 'onclick="'+funcname+'('+aim+')"'
                    }

                    function loadCommentAndPageDi() {//加载评论区
                        $.get("/article/get_comment_page_num?article_id=" + article_id +"&pagesize="+ pagesize , function (result) {
                            totalPage = result;
                            loadComments(1);
                        })
                    }

                    function loadComments(aimPage) {
                        $.get("/article/get_comments?article_id=" + article_id +"&aimPage="+ aimPage +"&pagesize=" + pagesize, function (data) {
                            creat(totalPage,aimPage,pageShow,commontPgaeDiId,loadFuncName);
                            $("#"+commmenDivId).empty();
                            var i;
                            var comments = JSON.parse(data);
                            for (i=0;i<comments.length;i++){
                                var a_comment = comments[i];
                                var str = String.format(commentStr,a_comment.name,a_comment.time,a_comment.content);
                                $("#"+commmenDivId).append(str);
                            }
                        })
                    }
                </script>
                <div class="agile-news-comments">
                    <div class="agile-news-comments-info">
                        <h4>Comments</h4>
                        <div class="agile-info-wthree-box">
                            <form>
                                <textarea id="mycommen" name="mycommen" placeholder="评论内容"
                                          required="required"></textarea>
                            </form>
                            <button onclick="submitCommen()">发表评论</button>
                        </div>
                        <hr>
                        <div class="media-grids" id="listTag">
                            <div class="media">
                                <div id="comments">
                                </div>
                            </div>
                            <hr>
                            <ul class="pagination pagination-lg" id="commentPageDi">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //agile-comments -->
                <div class="news-related">

                </div>
            </div>
            <div class="col-md-4 wthree-news-right">
                <!--			最新新闻-->
                <div class="news-right-top">
                    <div class="wthree-news-right-heading">
                        <h3>Updated News</h3>
                    </div>
                    <div class="wthree-news-right-top">
                        <div class="news-grids-bottom">
                            <!-- date -->
                            <div id="design" class="date">
                                <div id="cycler">
                                </div>
                                <script>
                                    function blinker() {
                                        $('.blinking').fadeOut(500);
                                        $('.blinking').fadeIn(500);
                                    }

                                    setInterval(blinker, 1000);
                                </script>
                                <script>
                                    function cycle($item, $cycler) {
                                        setTimeout(cycle, 2000, $item.next(), $cycler);
                                        $item.slideUp(1000, function () {
                                            $item.appendTo($cycler).show();
                                        });
                                    }
                                </script>
                            </div>
                            <!-- //date -->
                        </div>
                    </div>
                </div>
                <!--			最热新闻-->
                <div class="news-right-bottom">
                    <div class="wthree-news-right-heading">
                        <h3>Top News</h3>
                    </div>
                    <div class="news-right-bottom-bg">
                        <div class="news-grids-bottom">
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news_single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Aenean rutrum ac nulla</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news_single.html">Duis orci enim, rutrum vel sodales ut, tincidunt nec
                                        turpis.</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Cras pretium</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news_single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Aenean rutrum ac nulla</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news_single.html">Duis orci enim, rutrum vel sodales ut, tincidunt nec
                                        turpis.</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Cras pretium</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //news-right-bottom -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="w3l-latest-movies-grids">
        <h4 class="latest-text w3_latest_text">Latest Movies</h4>
        <div class="container">
            <!-- /latest-movies -->
            <div class="browse-inner">
                <div class="col-md-2 w3l-movie-gride-agile">
                    <a href="single.html" class="hvr-shutter-out-horizontal"><img src="images/m7.jpg" title="album-name"
                                                                                  alt=" "/>
                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1">
                        <div class="w3l-movie-text">
                            <h6><a href="single.html">Light B/t Oceans</a></h6>
                        </div>
                        <div class="mid-2">

                            <p>2016</p>
                            <div class="block-stars">
                                <ul class="w3l-ratings">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>


                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="ribben">
                        <p>NEW</p>
                    </div>
                </div>
                <div class="col-md-2 w3l-movie-gride-agile">
                    <a href="single.html" class="hvr-shutter-out-horizontal"><img src="images/m8.jpg" title="album-name"
                                                                                  alt=" "/>
                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1">
                        <div class="w3l-movie-text">
                            <h6><a href="single.html">The BFG</a></h6>
                        </div>
                        <div class="mid-2">

                            <p>2016</p>
                            <div class="block-stars">
                                <ul class="w3l-ratings">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>


                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="ribben">
                        <p>NEW</p>
                    </div>
                </div>
                <div class="col-md-2 w3l-movie-gride-agile">
                    <a href="single.html" class="hvr-shutter-out-horizontal"><img src="images/m9.jpg" title="album-name"
                                                                                  alt=" "/>
                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1">
                        <div class="w3l-movie-text">
                            <h6><a href="single.html">Central Intelligence</a></h6>
                        </div>
                        <div class="mid-2">

                            <p>2016</p>
                            <div class="block-stars">
                                <ul class="w3l-ratings">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>


                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="ribben">
                        <p>NEW</p>
                    </div>
                </div>
                <div class="col-md-2 w3l-movie-gride-agile">
                    <a href="single.html" class="hvr-shutter-out-horizontal"><img src="images/m10.jpg"
                                                                                  title="album-name" alt=" "/>
                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1">
                        <div class="w3l-movie-text">
                            <h6><a href="single.html">Don't Think Twice</a></h6>
                        </div>
                        <div class="mid-2">

                            <p>2016</p>
                            <div class="block-stars">
                                <ul class="w3l-ratings">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>


                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="ribben">
                        <p>NEW</p>
                    </div>
                </div>
                <div class="col-md-2 w3l-movie-gride-agile">
                    <a href="single.html" class="hvr-shutter-out-horizontal"><img src="images/m11.jpg"
                                                                                  title="album-name" alt=" "/>
                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1">
                        <div class="w3l-movie-text">
                            <h6><a href="single.html">X-Men</a></h6>
                        </div>
                        <div class="mid-2">

                            <p>2016</p>
                            <div class="block-stars">
                                <ul class="w3l-ratings">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>


                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="ribben">
                        <p>NEW</p>
                    </div>
                </div>
                <div class="col-md-2 w3l-movie-gride-agile">
                    <a href="single.html" class="hvr-shutter-out-horizontal"><img src="images/m12.jpg"
                                                                                  title="album-name" alt=" "/>
                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1">
                        <div class="w3l-movie-text">
                            <h6><a href="single.html">Greater</a></h6>
                        </div>
                        <div class="mid-2">

                            <p>2016</p>
                            <div class="block-stars">
                                <ul class="w3l-ratings">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>


                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="ribben">
                        <p>NEW</p>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <!-- //latest-movies -->

        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>One<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                                        target="_blank" title="模板之家">模板之家</a>
                - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="genres.html">Movies</a>
                </li>
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="horror.html">Action</a>
                </li>
                <li>
                    <a href="genres.html">Adventure</a>
                </li>
                <li>
                    <a href="comedy.html">Comedy</a>
                </li>
                <li>
                    <a href="icons.html">Icons</a>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script th:src="@{js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>