<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>搜索</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/contactstyle.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/faqstyle.css}" type="text/css" media="all"/>
    <link th:href="@{/css/single.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/css/medile.css}" rel='stylesheet' type='text/css'/>
    <!-- banner-slider -->
    <link th:href="@{/css/jquery.slidey.min.css}" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet" type="text/css" media="all">
    <script th:src="@{js/owl.carousel.js}"></script>
    <script th:src="@{js/getParam.js}"></script>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <script th:src="@{js/amazeui.min.js}"></script>
    <script th:src="@{js/jquery.raty.js}"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <script type="text/javascript" th:src="@{js/page-divide.js}"></script>
    <script type="text/javascript" th:src="@{js/article.js}"></script>
    <script>
        var paras = location.search;			//search获得地址中的参数，内容为'?itemId=12'
        var result = paras.match(/[^\?&]*=[^&]*/g); 	//match是字符串中符合的字段一个一个取出来，result中的值为['login=xx','table=admin']
        paras = {};					//让paras变成没有内容的json对象
        for (i in result) {
            var temp = result[i].split('=');	//split()将一个字符串分解成一个数组,两次遍历result中的值分别为['itemId','xx']
            paras[temp[0]] = temp[1];
        }
        var search_text = paras.search_text;

        function main() {
            $(" input[ name='Search' ] ").val(search_text);
            var max = 5;
            getAndLoadArticles(1, max);
            getAndLoadMovies(1, max);
        }

        function getAndLoadMovies(aimPage, max) {
            var pageSize = 24;
            $.get("/search/searchMovie?searchText=" + search_text, function (data) {
                var moviesList = data.moviesList;
                var moviesTotalNum = data.moviesList.length; //评论记录的总条数
                var pageNum = Math.ceil(moviesTotalNum / pageSize); //分页的总页数
                var modeNum = Math.ceil(moviesTotalNum / 6); //模块数
                console.log(moviesList);
                console.log(modeNum);
                if (moviesTotalNum == 0) {
                    $("#movies").append('<h1 id="h1.-bootstrap-heading">没有搜索到任何结果<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1>')
                } else {
                    //拼接html语句
                    var m = '';
                    var n;
                    for (var p = 0; p < 4 && p < (modeNum - 4 * (aimPage - 1)); p++) {
                        m += '<div class="browse-inner">';
                        for (n = pageSize * (aimPage - 1) + p * 6; n < (pageSize * (aimPage - 1) + 6 * (p + 1)) && n < moviesTotalNum; n++) {
                            m += '<div class="col-md-2 w3l-movie-gride-agile">' +
                                '<a href="/movie_single?movie_id=' + moviesList[n].movie_id + '" class="hvr-shutter-out-horizontal"><img src="' + moviesList[n].cover + '" height="268" width="182" ' +
                                'title="album-name" alt=" ">' +
                                '<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>' +
                                '</a>' +
                                '<div class="mid-1">' +
                                '<div class="w3l-movie-text"' +
                                '<h6><a href="/movie_single?movie_id=' + moviesList[n].movie_id + '">' + moviesList[n].movie_name + '</a></h6>' +
                                '</div>' +
                                '<div class="mid-2">' +
                                '<p style="float:none">' + moviesList[n].release_date + '</p>' +
                                '<div class="block-stars" style="float:none" id="o-stars' + n + '">' +
                                '</div>' +
                                '<div class="clearfix"></div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="ribben two">' +
                                '<p>NEW</p>' +
                                '</div>' +
                                '</div>';
                        }
                        m += '<div class="clearfix"></div>' +
                            '</div>';
                    }
                    m += '<div class="am-u-lg-12 am-cf">';
                    m += '<div class="am-cf">' +
                        '共' + moviesTotalNum + '条记录 /' + pageNum + '页' +
                        '<div class="am-fr">' +
                        '<ul class="am-pagination" id="page">';

                    //判断前面是否还有页面
                    if (aimPage == 1) {
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >«</a></li>';
                    } else {
                        m += '<li><a href="javascript:OnshowInitial(' + (aimPage - 1) + ')" rel="external nofollow" >«</a></li>';
                    }
                    for (var i = 1; i <= pageNum; i++) {
                        if (i == aimPage) {
                            m += '<li class="am-active"><a href="javascript:OnshowInitial(' + i + ')" rel="external nofollow" rel="external nofollow" >' + i + '</a></li>';
                        } else {
                            m += '<li><a href="javascript:OnshowInitial(' + i + ')" rel="external nofollow" rel="external nofollow" >' + i + '</a></li>';
                        }
                    }
                    //判断后面是否还有页面
                    if (aimPage == pageNum) {
                        m += '<li class="am-disabled"><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" >»</a></li>';
                    } else {
                        m += '<li><a href="javascript:OnshowInitial(' + (aimPage + 1) + ')" rel="external nofollow" >»</a></li>';
                    }
                    m += '</ul>' +
                        '</div>' +
                        '</div><hr>'
                    ;


                    document.getElementById("movies").innerHTML = m;
                    for (var x = (aimPage - 1) * pageSize; x < moviesList.length && x < aimPage * pageSize; x++) {
                        $('#o-stars' + x).raty({
                            path: "images"
                        });
                        $('#o-stars' + x).raty('score', moviesList[x].rank / 2);
                        $('#o-stars' + x).raty('readOnly', 1);
                    }
                }
            })
        }

        function getAndLoadArticles(aimPage, max) {
            var pageSize = 10;
            $.get("/search/searchArticle?pageSize=" + pageSize + "&aimPage=" + aimPage + "&searchText=" + search_text, function (res) {
                var data = JSON.parse(res);
                var total = data.total;//总数
                var totalPage = Math.ceil(total / pageSize);
                // console.log(totalPage);
                var articles = data.rows;
                console.log(articles)
                if (total == 0) {
                    $("#articles").append('<h1 id="h1.-bootstrap-heading">没有搜索到任何结果<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1>')
                } else {
                    creat(totalPage, aimPage, max, "articles-page", "getAndLoadArticles");
                    loadArticles(articles, "articles");
                }
            })
        }
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body onload="main()">
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="#">
                <input type="text" name="Search" placeholder="Search" required="">
                <input type="submit" value="Go" onclick="search();return false;">
            </form>
        </div>
        <script>
            function search() {
                var search_text = $(" input[ name='Search' ] ").val();
                if (search_text.length == 0)
                    return;
                else
                    location.assign("/search?search_text=" + search_text);
            }
        </script>
        <div class="w3l_sign_in_register">
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>Login to your account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                            <div class="form">
                                <h3>Create an account</h3>
                                <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                    <input type="password" name="Password" placeholder="Password" required="">
                                    <input type="email" name="Email" placeholder="Email Address" required="">
                                    <input type="text" name="Phone" placeholder="Phone Number" required="">
                                    <input type="submit" value="Register">
                                </form>
                            </div>
                            <div class="cta"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/index}">首页</a></li>
                        <li><a th:href="@{/dynamic}">影城动态</a></li>
                        <li><a th:href="@{/see_movie}">看电影</a></li>
                        <li><a th:href="@{/group_buy}">团购</a></li>
                        <li><a href="#">商城 </a></li>
                        <li><a th:href="@{/cooperation}">商务合作信息</a></li>
                        <li><a th:href="@{/about_us}">关于企业信息</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //nav -->
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </nav>
</div>
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a th:href="@{/index}">首页</a></li>
                <li class="active">搜索</li>
            </ol>
        </div>
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                                                          aria-controls="home" aria-expanded="true">电影</a></li>
                <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                                    aria-controls="profile" aria-expanded="false">文章</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                    <div id="movies">

                    </div>
                    <ul class="pagination pagination-lg" id="movies-page"></ul>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="profile" aria-labelledby="profile-tab">
                    <div id="articles">

                    </div>
                    <ul class="pagination pagination-lg" id="articles-page"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>One<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                                        target="_blank" title="模板之家">模板之家</a>
                - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="genres.html">Movies</a>
                </li>
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="horror.html">Action</a>
                </li>
                <li>
                    <a href="genres.html">Adventure</a>
                </li>
                <li>
                    <a href="comedy.html">Comedy</a>
                </li>
                <li>
                    <a href="icons.html">Icons</a>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script th:src="@{js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>